<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->

<div class="page-banner">
    <img src="img/about.jpg" alt="GaStat" />
    <img src="img/logo.png" alt="GaStat" class="gastat"/>
</div>
<!-- ko if: model.lang -->
<oj-accordion id="about-list" class="about-list">
    <oj-collapsible id="about">

        <h4 id="h1" slot="header" class="oj-header-border"><i class="icon-gastat-logo"></i>
            <span>About GaStat</span>
        </h4>
        <div id="c1">         
            The General Authority for Statistics is a government entity that enjoys an independent legal personality. Its Board of Directors is headed by His Excellency the Minister of Economy and Planning and formed by 15 representatives from relevant government entities and private sector institutions. It is considered the only official statistical reference for statistical data and information in the Kingdom of Saudi Arabia. The General Authority for Statistics implements all statistical works, ensures technical supervision of the statistical sector, which includes a system of multiple statistical centers and units that were established within the administrative structures of government entities and some of the private sector institutions, and oversees the implementation of the national strategy for statistical work in coordination with relevant entities. It also prepares and implements surveys, conducts studies and research, as well as analyzes, records, classifies, and extracts the indicators of statistical data and information that cover all aspects of life within the Kingdom from various sources.
        </div>
    </oj-collapsible>

    <oj-collapsible id="contact">
        <h4 id="h2" slot="header" class="oj-header-border">
            <i class="icon-letter"></i>
            <span>Contact Information</span>
        </h4>
        <div id="c2">
            <ul class="contact-info">
                <li><strong>Contact Numbers:</strong> <button id= "button" style="font-size: 0.9rem; color:white;"
                       data-bind="click: function(){callMobile('+966114014138')},
                   ojComponent: { component: 'ojButton', label: '+966 11 4014138' }"></button></li>
                <li>
                    <strong>Fax:</strong> +966 11 4059493
                </li>
                <li>
                    <strong>Address:</strong> P.O. Box: 3735 <br>
                    <span class="adrs">Riyadh, 11481<br> 
                        Kingdom of Saudi Arabia</span>
                </li>
                <li>
                    <strong>Email:</strong><a href='mailto:info@stats.gov.sa'>info@stats.gov.sa</a>
                </li>
                <li>
                    <strong>Customer Care:</strong> <button id= "button" style="font-size: 0.9rem; color:white;"
                       data-bind="click:function(){callMobile('+966920020081')},
                   ojComponent: { component: 'ojButton', label: '+966 920020081' }"></button>
                </li>
                 <li>
                    <strong>Working Hours:</strong> 7:30 a.m.-2:30 p.m. (from Sunday –Thursday)
                </li>
            </ul>
         </div>
    </oj-collapsible>
    <oj-collapsible id="location">
        <h4 id="h3" slot="header" class="oj-header-border">
            <i class="icon-placeholder"></i>
            <span>Location</span>
        </h4>
        <div id="c3">
            <p>Riyadh – Al Murabba: Prince Abdulrahman Bin Abdulaziz Street</p>

            <div id="googleMap" style="width:100%;height:300px"></div>
        </div>
    </oj-collapsible>
    <oj-collapsible id="masdar">
        <h4 id="h4" slot="header" class="oj-header-border">
            <i class="icon-masdar-icon"></i>
            <span>About Masdar</span>
        </h4>
        <div id="c14">
<!--            <div class="page-img-box">
                <img src="img/masdarData.png" alt="Masdar" width="100%"/>
            </div>-->
            <p>
                <b>National Statistical Data Program “Masdar”</b><br>
“Masdar” is an ambitious program that is implemented by the General Authority for Statistics (GaStat) to build a comprehensive national statistical database in which all statistical data from different internal and external sources are collected to produce the classifications, indicators and analyses needed by data users and analysts inside and outside GaStat to be used as a statistical reference to support decision making and different developments plans.
            </p>

<b>Program Objectives:</b><br>
<p>The main objective of this program is to build national statistical databases in GaStat based on statistical data collected from all government entities producing statistical data, “Data Sources”, to serve the statistical needs of the Kingdom and users of statistical data from government agencies, private sector, international organizations, research institutions and data users in general, thereby linking the "Producer" and the "Consumer" to statistical data.
<br>How are preliminary data extracted?
<br>The preliminary data needed by the program are obtained through linking GaStat with 33 government agencies from ministries, authorities, and establishments owning and producing statistical data. These data are gathered in the form of usable information in an integrated information system that supports the decision making for ministries and decision makers in Saudi Arabia. It also provides a comprehensive and homogeneous communication mechanisms for users to view data and make decisions.
<br>What are the benefits of the program?
<br>One of the expected benefits of the program is that it will strengthen the capacity of government agencies to deliver its statistical data by forming a link between data producers and users through the adoption of statistical data sharing platforms “SDMX” and the delivery of data to decision makers in different government agencies who will be able to analyse and implement business decisions based on ready information based on data collected from different sources and consolidated into a single database.
 
    </p>
<b>Statistical Products:</b>
<ol>
    <li>Interactive statistical data portal: <br>
The main portal which contains statistical indicators and metadata is grouped and classified in interactive graphical interfaces and charts that can be customized by user, reviewed and downloaded in multiple formats including Excel and PDF.
</li>
<li>Smart phone applications for statistical indicators:<br>
Applications on smart phones and tablets for interactive statistical indicators with direct contact between smart devices users and GaStat. It displays the most prominent statistical indicators and provides the possibility of interaction with users.
</li><li>
Data Exchange with the beneficiaries:<br>
Data and metadata exchange service with relevant agencies through the SDMX standard form for data exchange, to meet the needs of data exchange between producers and users and regulate the relationship between them in the exchange of data and indicators.
</li><li>Interactive Data Portal for Entities:<br>
An interactive electronic portal for data beneficiary entities. It contains indicators of sector/entity, classified in interactive graphical interfaces containing statistical indicators and metadata through tables and charts.
</li><li>Self-service indicator builder:<br>
Self-service for data through which the user builds his data and charts by selecting the data he needs from the lists displayed by the system, create new indicators from the available statistical data, and save the indicators in the private portal of each user.  
</ol>
        
        </div>
    </oj-collapsible>
</oj-accordion>
<!-- /ko -->

<!-- ko ifnot: model.lang -->
<oj-accordion id="about-list" class="about-list">
    <oj-collapsible id="about">

        <h4 id="h1" slot="header" class="oj-header-border"><i class="icon-gastat-logo"></i>
            <span> <!--ko text: model.aboutGastatTextLabel --><!-- /ko --></span>
        </h4>
        <div id="c1">
            <!--                    <div class="page-img-box">
                            <img src="img/logo.png" alt="GaStat"/>
                        </div>-->

            <p data-bind="html: model.aboutGastatText"></p>

        </div>
    </oj-collapsible>

    <oj-collapsible id="contact">
        <h4 id="h2" slot="header" class="oj-header-border">
            <i class="icon-letter"></i>
            <span> <!--ko text: model.aboutGastatContactLabel --><!-- /ko --></span>
        </h4>
        <div id="c2">
            <p data-bind="html: model.aboutGastatContact"></p>

        </div>
    </oj-collapsible>
    <oj-collapsible id="location">
        <h4 id="h3" slot="header" class="oj-header-border">
            <i class="icon-placeholder"></i>
            <span><!--ko text: model.aboutGastatLocationLabel --><!-- /ko --></span>
        </h4>
        <div id="c3">
            <p><!--ko text: model.aboutGastatLocation --><!-- /ko --></p>

            <div id="googleMap" style="width:100%;height:300px"></div>
        </div>
    </oj-collapsible>
    <oj-collapsible id="masdar">
        <h4 id="h4" slot="header" class="oj-header-border">
            <i class="icon-masdar-icon"></i>
            <span>  <!--ko text: model.aboutMasdarLabel --><!-- /ko --></span>
        </h4>
      <div id="c4">
            <div class="page-img-box">
                <img src="img/masdarData.png" alt="Masdar" width="100%"/>
            </div>
            <p>
                <b>"برنامج البيانات الإحصائية الوطنية ""مصدر""</b><br>
برنــامج البيانـــات الإحصـــائية الوطنية ""مصدر"" هو برنامج طموح تقوم الهيئة العامة للإحصاء بتنفيذه بهدف بناء قاعدة بيانات إحصائية وطنية شاملة تتجمع فيها كل البيانات الإحصائية من مختلف المصادر الداخلية والخارجية لإنتاج التبويبات والمؤشرات والتحليلات التي يحتاجها مستخدمو ومحللو البيانات داخل وخارج الهيئة لتستخدم كمرجع إحصائي لدعم اتخاذ القرارات ووضع الخطط التنموية المختلفة. 
            </p>

<b>أهداف البرنامج:</b><br>
<p>تتلخص الأهداف الأساسية لهذا البرنامج ببناء قواعد بيانات إحصائية وطنية مقرها الهيئة العامة للإحصاء بالاعتماد على بيانات إحصائية مجمعة من كافة الجهات الحكومية المنتجة للبيانات الإحصائية ""مصادر البيانات"" وبما يخدم الاحتياجات الإحصائية للمملكة ولمستخدمي البيانات الإحصائية من جهات حكومية وقطاع خاص ومنظمات دولية وجهات بحثية ومستخدمي البيانات بشكل عام بما يشكل رابطاً بين المنتج ""Producer"" والمستهلك ""Consumer"" للبيانات الإحصائية.
<br>كيف يتم استقاء البيانات الأولية؟ 
<br>يتم استقاء البيانات الأولية التي يحتاجها البرنامج من خلال الربط بين الهيئة وعدد 33 جهة حكومية من وزارات وهيئات ومؤسسات مالكة ومنتجة للبيانات الإحصائية بحيث تتجمع هذه البيانات على شكل معلومات قابلة للاستخدام في نظام معلومات متكامل يدعم اتخاذ القرار للوزارات ومتخذي القرارات في المملكة العربية السعودية ويوفر آليات تواصل شاملة ومتجانسة للمستخدمين للاطلاع على المعلومات واتخاذ القرارات.
<br>ماهي فوائد البرنامج؟
<br>من ضمن الفوائد المتوقعة من البرنامج أنه سيقوم بتعزيز قدرات الجهات الحكومية للتواصل في بياناتها الإحصائية بحيث يشكل رابطاً بين منتجي ومستخدمي البيانات من خلال تبني منصات التشارك بالبيانات الإحصائية ""SDMX"" وإيصال البيانات لمتخذي القرار في الجهات الحكومية المختلفة الذين سيتمكنون من تحليل وتنفيذ قرارات الأعمال بالاعتماد على معلومات جاهزة تستند إلى بيانات مجمعة من مصادر مختلفة وموحدة في قاعدة بيانات واحدة.
من الفوائد الأخرى للبرنامج انه سيمكن محللي البيانات من دمج البيانات من مصادرها المختلفة بما يشمل البيانات الحالية والبيانات التاريخية ووضعها جميعاً في مكان واحد، وهو ما سيمكن المختصين من التركيز بشكل أكبر على التحليل – عوضا عن العمليات التقليدية الطويلة لتجهيز ودمج البيانات من مصادرها المختلفة، كما سيتمكن المستخدمون من تطوير جداولهم ونشراتهم الخاصة بأنفسهم باستخدام الأدوات التي يوفرها النظام مما يؤدي إلى  التقليل من الاعتماد على المبرمجين لتطوير التقارير والجداول الإحصائية في كل مرة.

 </p>
<b>المنتجات الإحصائية:</b>
<ol>
    <li>بوابة البيانات الإحصائية التفاعلية:  <br>
البوابة الالكترونية الرئيسة والتي تحتوي على المؤشرات الإحصائية والبيانات الوصفية مجمعة ومبوبة في واجهات رسومية تفاعلية ورسوم بيانية يمكن تخصيصها بحسب المستخدم واستعراضها وتحميلها بصيغ متعددة منها Excel  و PDF
</li>
<li>تطبيقات الهواتف الذكية للمؤشـرات الإحصائية:<br>
تطبيقات على الهواتف الذكية والأجهزة اللوحية للمؤشرات الإحصائية بشكل تفاعلي وبتواصل مباشر بين مستخدمي الأجهزة الذكية والهيئة، يعرض أبرز المؤشرات الإحصائية ويوفر إمكانية التفاعل مع المستخدمين.
</li><li>
تبادل البيانات مع الجهات المستفيدة:<br>
خدمة تبادل البيانات والبيانات الوصفية مع الجهات ذات العلاقة من خلال نموذج SDMX القياسي لتبادل البيانات، بما يلبي احتياجات تبادل البيانات بين المنتجين والمستخدمين وينظم العلاقة بينهم في تبدل البيانات والمؤشرات.
</li><li>بوابة البيانات التفاعلية للجهات:<br>
بوابة الكترونية تفاعلية خاصة بالجهات المستفيدة من البيانات، تحتوي البوابة على المؤشرات الخاصة بالجهة/ القطاع مبوبة في واجهات رسومية تفاعلية تحتوي على المؤشرات الإحصائية وبياناتها الوصفية من خلال جداول ورسوم بيانية.
</li><li>الخدمة الذاتية للبيانات باني المؤشرات:<br>
خدمة ذاتية للبيانات يقوم من خلالها المستخدم ببناء جداوله ورسومه البيانية من خلال اختيار البيانات التي يحتاجها من قوائم البيانات التي يعرضها النظام واستنباط مؤشرات جديدة من البيانات الإحصائية المتوفرة وحفظ هذه المؤشرات في البوابة الخاصة بكل مستخدم."
</ol>
        
        </div>
    </oj-collapsible>
</oj-accordion>
<!-- /ko -->

<link rel="stylesheet" href="js/map/map.css" type="text/css"/>