<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="buildReport">
    <div class="page-banner">
        <img src="img/build-report.jpg" alt="" />
    </div>

    <div id="tabbarcontainer" >
        <oj-tab-bar 
            drill-mode="none" 
            display="all" 
            edge="top" 
            selection="{{selectedItem}}">
            <ul>
                <li id="home">
                    <a href="#">
                        <span class="oj-tabbar-item-icon icon icon-report
                              demo-home-icon-24 demo-icon-font-24">
                        </span>
                        <!-- ko text: model.buildReport -->
                        <!-- /ko -->
                    </a>
                </li>
                <li id="Favourites">
                    <a href="#">
                        <span class="oj-tabbar-item-icon
                              oj-navigationlist-item-icon icon-star">
                        </span>
                        <!-- ko text: model.favourite -->
                        <!-- /ko -->
                    </a>
                </li>
                <!--                <li id="cookbook" class="oj-disabled">
                                  <a href="#">
                                    <span class="oj-tabbar-item-icon
                                          demo-catalog-icon-24 demo-icon-font-24">
                                    </span>
                                    Cookbook
                                  </a>
                                </li>-->

            </ul>
        </oj-tab-bar>
    </div>


    <div id="componentfavContent" data-bind="visible: (selectedItem() === 'Favourites') " class=" bg-white">

        <div  data-bind="visible: !favGraph()" id ="favTable">

            <oj-table id='tablsse' aria-label='Favourites Table'
                      data='[[dataprovider]]'
                      selection-mode='{"row": "single"}'
                      scroll-policy='loadMoreOnScroll'
                      on-oj-before-current-row='[[currFav]]'
                      columns='{{columnArray}}'  style='width: 100%;' >
            </oj-table> 
        </div>
        <div data-bind="visible:favGraph()" id="favGraph">


            <div class="control-bar" style="height: 40px;">
                <a id="favBack" title="Back"  data-bind="click: favBack" >Back</a>
                <span id="favhdr" data-bind="text: favRepSel">    </span>




            </div>

<!--            <div style="padding:10px" id=" ">
                <h4>
                     ko text: model.sbujectArea()+':'+getContext('','SA') 
                     /ko </h4>
                <h4>
                     ko text: model.indicator()+':'+getContext('','IN') 
                     /ko 
                    </h2>
                    <h4>
                         ko text: model.dimensions()+':'+dispDim() 
                         /ko 
                    </h4>
                    <h4>
                         ko text: model.filtration()+':'+getContext('','FL') 
                         /ko 
                    </h4>


            </div>-->

            <div id="dynamicReportFav" class="dynamicReport demo-container">
                <div id='chart-containerFav' class="chart-container">
                    <oj-chart id="barChartFav" type="bar" orientation="[[orientationValue]]" stack="[[stackValue]]" legend.position="bottom" translations.label-no-data="جاري التحميل" series="[[barSeriesValueFav]]" groups="[[barGroupsValueFav]]" animation-on-display="auto" animation-on-data-change="auto"
                              hover-behavior="dim" style="width:100%;background: url(css/images/masdar-watermark.png) center center no-repeat;">
                    </oj-chart>
                </div>
            </div>
            <div class="table-container">
                <div style="padding:10px" id="">
                    <!--ko text: metadata -->
                    <!-- /ko -->
                </div>

            </div>




        </div>
    </div>
    <script type="text/html" id="Fav_Name">
        <td>    <span data-bind="click: $parent.doFav"   class="fa fa-angle-double-right" >
            </span>  <td>
            </script>


            <div id="componentDemoContent" data-bind="visible: (selectedItem() === 'home') " class="component-wrapper">
                <div id="train-container" class="train-container bg-white">
                    <div style="width:100%;float:left;display:block">
                        
<!--               <oj-button id="PreviousStep"
              style="    font-weight: 900;
                                  margin-top: 24px;
                                  float: left;
                                  width: 10%;
                                  font-size: x-large;"
   
              disabled="[[selectedStepValue() == 'stp1']]">
               <
                         </oj-button>-->
<!--                        <button    class="submitasdadbtn" data-bind=" click:trainRefresh , enable: isPrev(),
                   ojComponent: { component: 'ojButton' }"> <</button>-->
                        <!-- ko if: model.lang -->
                        <oj-train id="train" class="oj-train-stretch" style=" width: 80%;max-width:700px;margin-left:auto;margin-right:auto;" on-selected-step-changed="[[updateLabelText]]" selected-step="{{selectedStepValue}}" steps="[[stepArray]]" data-bind="attr: { onclick: setSubjectAreaOptions()}">
                        </oj-train>
                        <!-- /ko -->
                        <!-- ko ifnot: model.lang -->
                        <oj-train id="train" class="oj-train-stretch" style="width: 80%;max-width:700px;margin-left:auto;margin-right:auto;" on-selected-step-changed="[[updateLabelText]]" selected-step="{{selectedStepValue}}" steps="[[stepArrayAr]]" data-bind="attr: { onclick: setSubjectAreaOptions()}">
                        </oj-train>
                        <!-- /ko -->

<!--                        <button   style="    font-weight: 900;
                                  margin-top: 24px;
                                  float: right;
                                  width: 10%;
                                  font-size: x-large;" class="submitasdadbtn" data-bind=" disabled:[[selectedStepValue() == 'stp5']] , click:trainRefresh ,
                   ojComponent: { component: 'ojButton' }"> ></button>-->
                    </div>

                    <div style="width:100% ; float:left">

                    <div id="1">
                        <div class="oj-flex">
                            <div class="oj-flex-item oj-sm-12">
                                <h3 data-bind="text:model.sbujectArea">
                                </h3>
                            </div>
                            <div class="oj-flex-item oj-sm-12">
                                <oj-select-one id="combobox62" disabled="{{getSEC().length <1}}" options="{{getSEC()}}" value="{{selBA}}"    style="max-width:100%">
                                </oj-select-one>

                            </div>
                            <div class="oj-flex-item oj-sm-12">
                                <oj-select-one id="combobox2" disabled="{{getBA().length <1}}" options="{{getBA()}}" value="{{selBA}}"  style="max-width:100%">
                                </oj-select-one>

                            </div>



                            <div class="oj-flex-item oj-sm-12">

                                <button id="button" class="submit-btn" data-bind="click: function() {trainNext()},
                ojComponent: { component: 'ojButton', label: model.next }"></button>
                                </div>
                            </div>

                        </div>

                        <div id="2" style="display: none;">
                            <h3 data-bind="text: model.indicator">

                            </h3>

 <div class="oj-flex">
                                <div class="oj-flex-item oj-sm-12">
                                <oj-select-one id="combobox3w" disabled="{{getSA().length <1}}" options="{{getSA()}}" value="{{selSA}}"    style="max-width:100%">
                                </oj-select-one>
                            </div>

                            <div class="oj-flex-item oj-sm-12">
                                <oj-select-one id="combobox35" disabled="{{getIN().length <1}}" options="{{getIN()}}" value="{{selIN}}"   style="max-width:100%">
                                </oj-select-one>
                            </div>
     
 </div>

                            <button id="button2" class="submit-btn" data-bind="click: function() {trainNext()},
                   ojComponent: { component: 'ojButton', label: model.next }"></button>
                        </div>

                        <div id="3" class="filter-area" style="display: none;">
                            <h3 data-bind="text: model.dimensions">
                            </h3>
                            <oj-label>
                                <span data-bind="text: model.group"></span>
                            </oj-label>

                            <oj-combobox-one id="combobox2" options="{{groupOptions}}" value="{{selectedGroup}}" style="max-width:100%">
                            </oj-combobox-one>

                            <oj-label>
                                <span data-bind="text: model.value"></span>
                            </oj-label>

                            <oj-combobox-one id="combobox2" options="{{valueOptions}}" value="{{selectedValue}}" style="max-width:100%">
                            </oj-combobox-one>

                            <button id="button2" class="submit-btn" data-bind="click: function() {trainNext()},
                   ojComponent: { component: 'ojButton', label: model.next }"></button>
                        </div>

                        <div id="4" style="display: none;">
                            <h3>
                                <!-- ko text: model.filtration -->
                                <!-- /ko -->
                            </h3>
                            <div id="filter">
                                     <oj-label>
                                    <span data-bind="text: model.year"></span>
                                </oj-label>
                                
                                    <oj-select-one id="grpYear" options="[[compareYear]]"
                           value="{{compareValue}}" style="max-width:20em">
            </oj-select-one>
 
                            </div>

                    
                            <button id="button3" class="submit-btn" data-bind="click: function() {trainNext()},
                   ojComponent: { component: 'ojButton', label: model.next }"></button>
                        </div>
                        <div id="5" style="display: none;">
                            <div class="control-bar" style="height: 40px;">

                                <oj-button id='button11' title="Share" class="ctrl-btns icon-share" on-click='[[shareImg]]'></oj-button>
                                <oj-button id='button12' title="Save" class="ctrl-btns icon-save" on-click='[[saveImg]]'></oj-button>
                                <oj-button id='button13' title="Favourite" class="ctrl-btns icon-star" on-click='[[makeFavourite]]'></oj-button>

                            </div>
                   

                            <div style="padding:10px" id="canvasDiv">
                                <h4>
                                    <!-- ko text: model.sbujectArea()+':'+dispSA() -->
                                    <!-- /ko -->:</h4>
                                <h4>
                                    <!-- ko text: model.indicator()+':'+dispIn() -->
                                    <!-- /ko -->
                                    </h2>
                                    <h4>
                                        <!-- ko text: model.dimensions()+':'+dispDim() -->
                                        <!-- /ko -->
                                    </h4>
                                    <h4>
                                        <!-- ko text: model.filtration()+':'+dispFil() -->
                                        <!-- /ko -->
                                    </h4>


                            </div>

                            <div id="dynamicReport" class="dynamicReport demo-container">
                                <div id='chart-container' class="chart-container">
                                    <oj-chart id="barChart" type="bar" orientation="[[orientationValue]]" stack="[[stackValue]]" legend.position="bottom" translations.label-no-data="جاري التحميل" series="[[barSeriesValue]]" groups="[[barGroupsValue]]" animation-on-display="auto" animation-on-data-change="auto"
                                              hover-behavior="dim" style="width:100%;background: url(css/images/masdar-watermark.png) center center no-repeat;">
                                    </oj-chart>
                                </div>
                            </div>
                            <div class="table-container">
                                <div style="padding:10px" id="canvasMeta">
                                    <!--ko text: metadata -->
                                    <!-- /ko -->
                                </div>

                                <button id="button" data-bind="click: function() {openMetadataURL()},
                   ojComponent: { component: 'ojButton', label: model.more }"></button>
                            </div>

                        </div>


     </div>
                    </div>
                </div>

        </div>

        <div id="dialogWrapper">
            <oj-dialog style="display:none" id="modalDialog1" title="Favourite Report">
                <div slot="body">
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-12 oj-sm-margin-2x-vertical">
                            <span>Provide a name to save the report</span>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-sm-margin-2x-vertical">
                            <oj-input-text id="input-text" required aria-label="input text with no visible label" value="{{favouriteReportName}}" raw-value="{{currentRawName}}" on-raw-value-changed={{saveRawValueChangeCallback}}></oj-input-text>
                        </div>
                    </div>
                </div>
                <div slot="footer">
                    <!-- <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-12">
                           
                        </div>
                    </div> -->
                    <div class="oj-flex oj-flex-item oj-sm-12">
                        <div class="oj-flex-item oj-sm-2">

                        </div>
                        <div class="oj-flex-item oj-sm-4">
                            <oj-button class="oj-sm-margin-3x-end" disabled="[[savebuttonDisabled]]" style="background-color:#0572ce;" id="okButton" data-bind="click: saveFavouriteReport"> Save
                            </oj-button>
                        </div>
                        <div class="oj-flex-item oj-sm-4">
                            <oj-button class="oj-sm-margin-3x-end" style="background-color:#0572ce;" id="okButton" data-bind="click: closeFavouriteDialog"> Close
                            </oj-button>
                        </div>
                        <div class="oj-flex-item oj-sm-2">

                        </div>

                    </div>

                </div>
            </oj-dialog>
</div>