<div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id='chart-container'>
            
            <oj-chart id="comboChart"
                type="combo" 
                selection-mode="single" 
                series="[[comboSeriesValue]]" 
                groups="[[comboGroupsValue]]" 
                 legend.position="bottom"
                 legend.rendered="on"
                 y-axis.title="Total Revenue" y-axis.min="0" y-axis.max="[[yMax]]"
                 y2-axis.title="Total Revenue (% of GDP)" y2-axis.min="0" y2-axis.max="0.2"
                 y2-axis.tick-label.converter="[[y2Converter]]" y2-axis.align-tick-marks="off"
                 y2-axis.major-tick.rendered="off"
                 animation-on-display="auto"
                 value-formats.series.tooltip-display="off"
                 value-formats.group.tooltip-label="Year"
                 value-formats.y.tooltip-label="Total Revenue (% of GDP)"
                 value-formats.y2.converter="[[y2Converter]]"
                 value-formats.y2.tooltip-label="Total Revenue (% of GDP)"
                style="max-width:800px;width:200%;height:350px;">
            </oj-chart>
            
<!--            <oj-chart id="barChart"
                  type="bar" 
                  orientation="[[orientationValue]]"
                  stack="[[stackValue]]"
                  series="[[barSeriesValue]]"
                  groups="[[barGroupsValue]]" 
                  animation-on-display="auto"
                  animation-on-data-change="auto"
                  hover-behavior="dim"
                 style="max-width:500px;width:100%;height:350px;">
            </oj-chart>
            <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart"
                        style="max-width:500px;width:100%;">
                 vertical/horizontal toggle button 
                <demo-chart-orientation-control id="orientationControl" type="bar" focus-management="none" orientation="{{orientationValue}}">
                </demo-chart-orientation-control>
                <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
                 unstacked/stacked toggle button 
                <demo-chart-stack-control id="stackControl" type="bar" focus-management="none" stack="{{stackValue}}">
                </demo-chart-stack-control>
            </oj-toolbar>-->
        </div>

        
      </div>
    </div>