<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h1>Login</h1>
    <center>
    <div style="align-content: center">
        <span class="oj-label">Please Enter your username and Password</span>
        
        <input id="username" title="Enter you username."
               placeholder="Username"
               data-bind="ojComponent: {component: 'ojInputText',
                                     value: username, label: 'Username',required: true}">
        <br/>
        <input id="password" title="Enter you Password."
               placeholder="Password"
               data-bind="ojComponent: {component: 'ojInputText',
                                     value: password, label: 'Password',required: true}">
        <br/>
        <button id= "button"  data-bind="click: buttonClick,
                   ojComponent: { component: 'ojButton', label: 'Login' }">
        </button>
        <br/>
        <span class="result oj-label"></span>
    </div>
        </center>
</div>