
<div class="oj-applayout-content page-bg">
    <div role="main" class="oj-hybrid-applayout-content">
<!--        <button id= "button"  data-bind="click: openURL">TEST</button>-->
        <div class="oj-hybrid-padding">
            <!-- <h1>Dashboard Content Area</h1>
                <div>
                To change the content of this section, you will make edits to the dashboard.html file located in the /js/views folder.
            </div>-->
            
   
            <div class="search-box">   
               
                <oj-combobox-one data-bind="event: { keyup : afterkeydown }" id="searchHome" 
            options="[[tagsDataProvider]]"  
            filter-on-open="rawValue" 
            value="{{keyword}}" 
            on-oj-value-updated="[[search2]]" 
            placeholder="{{model.searchKeyword}}"
            style="height:40px;"  
            >
                       <div>
          
             </div>
            <a slot="end" id="search-button" class="icon-search oj-clickable-icon-nocontext"
              style="" role="button" aria-label="{{getLangContext}}" on-click="[[search2]]"></a> 
     
          </oj-combobox-one>
                    <div id="moreSearch" style="" class="component-wrapper bg-white">
                        <a href="www.google.com" data-bind="text: model.more"> </a>
             </div>
                
             </div>
<!--               <div class="search-box">   
                <input id="search" 
                        data-bind="value: keyword,attr: {type: 'text',
                                   placeholder: model.searchKeyword,
                                   onclick: loadOnClick() }">

                <button id= "button" class="icon-search" data-bind="click: search"></button>

               </div>-->

            <div id="icon-list-container">
                
                <div class="no-result"><!--ko text: text().noresult --><!-- /ko --></div>

                <ul  id="dashboards" class="oj-listview-card-layout list-icon oj-listview-group" >
                    <!-- ko foreach: items -->
                    <li id="biDashboard" class="oj-listview-item-element oj-listview-item">
                        <a  data-bind="click: function() {$parent.routing($data)}">
                            <span class="" data-bind="attr: {class: css}"></span>
                            <span class="icon-name" data-bind="text: name"></span>
                        </a>                   
                    </li>
<!--                    <li> <a id= "button" class="icon-search" data-bind="click: route">Navigate</a> </li>-->
                    <!-- /ko -->
                </ul>


            </div>

        </div>
    </div>
</div>
<!--<link rel="stylesheet" href="css/auto/style.css" type="text/css"/>
<link rel="stylesheet" href="css/auto/jquery-ui.css" type="text/css"/>-->
