<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h1>Dashboard</h1>
<div class="search-box">
   <input id="search" title="Enter you search keyword"
           placeholder="Search keyword"
           data-bind="ojComponent: {component: 'ojInputText',
                                     value: keyword, label: 'Search'}">
    <button id= "button"  data-bind="click: search,
                   ojComponent: { component: 'ojButton', label: 'Search' }"></button>
</div>
    
    <div id="dashboards" class="list-group" data-bind="foreach: items">
        <a href="#" class="list-group-item">
            <table class="list-table">
                <tr data-bind="click:  function() {$parent.openURL(name)}">
                    <td>
                        <img class="list-icon" alt="" data-bind="attr: {src: image}"/>
                    </td> 
                </tr>
                    <tr>
                        <td><span class="list-label" data-bind="text: name"></span></td>
                    </tr>
                <tr>
                    <td>
                        <button class="share-icon" id= "button"
                                data-bind="click: function() {$parent.shareURL(name)},
                   ojComponent: { component: 'ojButton', label: 'Share' }">
                        </button>
                    </td>
                </tr>
            </table>
        </a>
    </div>

    <oj-paging-control id="paging" data='[[dataSource]]' page-size='4' slot='bottom'>
    </oj-paging-control>
</div>