<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-applayout-page">
    <!-- <div class="oj-applayout-fixed-top">
    <!--
    ** Oracle JET V4.0.0 hybrid mobile application header pattern.
    ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
    ** more information on how to use this pattern.
    -->
    <!-- <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
        </header>
    </div> -->

    <!-- This is where your main page content will be loaded -->

    <div class="oj-applayout-content page-bg">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">

                <!-- Search Area -->
                <div class="search-box">
                    <input id="search" title="Enter you search keyword" placeholder="Search keyword">
                    <button id="button"></button>
                </div>

                <!-- Icon List Area -->
                <div id="icon-list-container">
                    <oj-list-view id="listview" class="oj-listview-card-layout">
                        <ul class="icon-list">
                            <li id="indicators">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Key Indicators</span></div>
                            </li>
                            <li id="population">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Population Statics</span></div>
                            </li>
                            <li id="news">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>News</span></div>
                            </li>
                            <li id="map">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Statistical Map</span></div>
                            </li>
                            <li id="eservice">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Service Request</span></div>
                            </li>
                            <li id="library">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Library</span></div>
                            </li>
                            <li id="report">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Build Your Report</span></div>
                            </li>
                            <li id="dashboard">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>Dashboard</span></div>
                            </li>
                            <li id="gastat">
                                <div class="icon"><span></span></div>
                                <div class="icon-name"><span>About GaStat</span></div>
                            </li>
                        </ul>
                    </oj-list-view>
                </div>
            </div>
        </div>
    </div>
</div>