

<div id="dynamicReport" class="dynamicReport demo-container">
    <div class="control-bar">
        <a class="back-link" data-bind="click: function() {routing()}" title="Back"><i class="fa fa-angle-left"></i> <!--ko text: model.back --><!-- /ko --> </a>
        <oj-button id='button1' title="Share" class="ctrl-btns icon-share" on-click='[[shareImg]]'></oj-button>
        <oj-button id='button2' title="Save" class="ctrl-btns icon-save" on-click='[[saveImg]]'></oj-button>
    </div>


    <h2>
        <!--ko text: model.lang()? reportParam.name_eng : reportParam.name_arb -->
        <!-- /ko -->
    </h2>
    <div id="componentDemoContent" class="component-wrapper">
        <div class="filter-wrapper" >
            <!--            <oj-label>
                            <span data-bind="text: model.chart" class="filter-label"></span>
                        </oj-label>
            
                        <select id="barType" data-bind="ojComponent: {component: 'ojSelect',
                                               multiple: false, disabled : isCompare,
                                               value:type}">
                        <option value="bar"> ko text: model.bar  /ko </option>
                        <option value="pyramid"> ko text: model.pyramid  /ko </option>
                        <option value="pie"> ko text: model.pie  /ko </option>
                    </select>-->

            <div data-bind="visible:false" >
                <!-- ko foreach: filtrationValues -->
                <oj-label>
                    <span data-bind="text: name" class="filter-label"></span>
                </oj-label>

                <select id="barType" data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   value: value,
                                   label: name}">
                    <!-- ko foreach: values -->
                    <option data-bind="attr:{value: $data}"><!-- ko text: $data --><!-- /ko --></option>
                    <!-- /ko -->
                </select>
                <!-- /ko -->

            </div>      

            <!--         <div data-bind="visible: compareOptions().length > 0" id="compare">
                      <oj-label>
                            <span class="filter-label">Compare Year</span>
                        </oj-label>  
                       <oj-select-one   id="dycompareBox" options="{{compareOptions}}" on-value-changed="[[checkCompare]]" value="{{compareValue}}" style="max-width:100%">
                       </oj-select-one>
                     </div>-->


            <!--   <oj-label>
                            <span  data-bind="text: model.group" class="filter-label"></span>
                        </oj-label>
             
            <oj-select-one id="grpVal" data-bind="visible:false"options="[[grpOpt]]"
                        value="{{grpValue}}" style="max-width:20em">
                      </oj-select-one>
            
               <oj-label>
                     <span data-bind="text: model.value" class="filter-label"> </span>
                        </oj-label>
            <oj-select-one id="uomVal" options="[[uomOpt]]"
                        value="{{uomValue}}" style="max-width:20em">
                      </oj-select-one>
                        <oj-label>
                            <span data-bind="text: model.year" class="filter-label"></span>
                        </oj-label>-->
            <oj-select-one id="grpYear" options="[[compareYear]]"
                           value="{{compareValue}}" style="max-width:20em">
            </oj-select-one>

            <div id="filmStripDiv" data-bind="visible:indi_group_vis" class=" " style="margin: 1px;">
                <oj-film-strip id="filmStrip" 
                               aria-label="Set of Indicators" 
                               current-item="{{currDetailPage}}"
                               arrow-placement="adjacent"
                               arrow-visibility="visible">
                    <!-- ko foreach: indi_groups -->
                    <div class="oj-panel filter-strip demo-filmstrip-item" 
                         data-bind="click:function(){selIndicator($index());}, style: {
                     display: getItemInitialDisplay($index())}, css: {
                         'oj-selected':  isItemSelected($index())}">
                        <span data-bind="text: name"></span>
                    </div>
                    <!-- /ko -->
            </div>

            <button class="filter-btn" style="float: none !important;" data-bind="click: function() {applyFilter()},
                   ojComponent: { component: 'ojButton', label: model.apply }"></button>
        </div>



        <div id='chart-container' class="chart-container">
            <oj-chart id="barChart" type="[[type]]"
                      drilling="[[drillingOption]]"
                      on-oj-drill="[[chartDrillYear]]"
                      style-defaults.three-d-effect="[[threeDValue]]"
                      hover-behavior="dim"
                      orientation="[[orientationValue]]" stack="[[stackValue]]" legend.position="bottom" translations.label-no-data="جاري التحميل" series="[[barSeriesValue]]" groups="[[barGroupsValue]]" animation-on-display="auto" animation-on-data-change="auto"
                      style="width:100%;height:400px;background: url(css/images/masdar-watermark.png) center center no-repeat;">
            </oj-chart>

        </div>
        <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart">
            <!-- vertical/horizontal toggle button -->
            <demo-chart-three-d-effect-control data-bind="visible: type()!=='bar'" id="threeDControl" three-d-effect="{{threeDValue}}" aria-controls="pieChart">
            </demo-chart-three-d-effect-control>

            <demo-chart-orientation-control data-bind="visible: type()==='bar'" id="orientationControl" type="bar" focus-management="none" orientation="{{orientationValue}}">
            </demo-chart-orientation-control>

        </oj-toolbar>
        <div id="animateCont">
            <div id="ratingFront" class="cardface">
                <div class="oj-flex ratings-container  oj-sm-padding-2x">
                    <div class="oj-flex-item  ">
                        <table>
                            <tr>
                                <th style="width:15%"> <span class='fa fa-eye'><br><span data-bind="text:viewCnt"/> </span> </th>
                                <th style="width:60%">     <oj-rating-gauge id="totalAvgRating" 
                                                                        transient-value="{{avgRatingValue}}"  readonly="true"
                                                                        thresholds="[[thresholdValues]]"
                                                                        value="{{avgRating}}" style="width:100%;height:30px;"></oj-rating-gauge>

                            </th>
                            <!--                <th>
                                            
                                            <oj-button id="bh" title="Save" class="ctrl-btns icon-save oj-button oj-component oj-enabled oj-default oj-button-half-chrome oj-button-text-only oj-complete" on-click="[[saveImg]]"></oj-button>
                                            </th>-->
                            <!--<th style="width:20%"> <img style="width:40%" data-bind="  attr: { 'src': 'img/r'+Math.ceil(avgRatingValue())+'.png' }"/></th>-->

                            <th style="width:20%">   <span  data-bind="click:animateRating" class="icon-edit" />  </th>
                           <th style="width:5%">     </th>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>

            <!-- front face of card -->
            <div id="ratingBack" class=" backside oj-animation-backface">
                   <div class="oj-flex ratings-container  oj-sm-padding-2x">
                    <div class="oj-flex-item  ">
                        <table>
                            <tr>
                                <th style="width:20%">   <span id="ratD" data-bind="click:ratingPop" class="icon-details" > D</span>  </th>
                                <th style="width:60%">     <oj-rating-gauge id="myRating" 
                                                                        transient-value="{{myRatingValue}}"   
                                                                        thresholds="[[thresholdValues]]"
                                                                        value="{{myRating}}" style="width:100%;height:30px;"></oj-rating-gauge>

                            </th>
                            <!--                <th>
                                            
                                            <oj-button id="bh" title="Save" class="ctrl-btns icon-save oj-button oj-component oj-enabled oj-default oj-button-half-chrome oj-button-text-only oj-complete" on-click="[[saveImg]]"></oj-button>
                                            </th>-->
                            <!--<th style="width:20%"> <img style="width:40%" data-bind="  attr: { 'src': 'img/r'+Math.ceil(myRatingValue())+'.png' }"/></th>-->

                            <th style="width:20%">   <span  data-bind="click:saveRating" class="icon-save" />  </th>
                            <th style="width:5%">     </th>
                            </tr>
                        </table>


                    </div>
                       
                          <div class="oj-flex-item  ">
                               <oj-input-text        id="clear-icon-conditional" value="{{myRatingComments}}"
                           clear-icon="always" ></oj-input-text>  
                              
                          </div>
                       
                </div>
            </div>
        </div>

        <div class="table-container">
            <!--ko text: model.lang()? reportParam.meta_eng : reportParam.meta_arb-->
            <!-- /ko -->
            <br/>
            <button id="button" data-bind="click: function() {openMetadataURL()},
                   ojComponent: { component: 'ojButton', label: model.more }"></button>
            <!--        <oj-table id="table" data="[[datasource]]"
                      columns='[{"headerText": "Name",
                                 "field": "Column8", "sortable": "enabled"},
                                {"headerText": "Description",
                                 "field": "Column5", "sortable": "enabled"}]'
                      selectionMode='{"row": "none", "column": "none"}'>
                    </oj-table>   -->
        </div>

        <!--<canvas width="500" height="500" style="display: none;"></canvas>-->

    </div>
</div>

<div>
     <oj-popup
                  
              tail="none" position.my.horizontal="center" position.my.vertical="bottom"
            position.at.horizontal="center" position.at.vertical="center"
            position.of="window" 
            modality="modal" 
                  id="ratingPop" >
          
         
                <oj-chart id="ratIndiChart"
                type="pie"
                series="{{ratSeriesValue}}"
    
                style-defaults='{"threeDEffect": "on"}'
                animation-on-data-change="auto" legend.position="bottom"
                style="width:100%;display:inline-block;vertical-align:top;">
            </oj-chart>
          </oj-popup>  
    
</div>