<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- ko if: model.lang -->
<div class="oj-hybrid-padding">
    <h1>Edit Profile</h1>
    <div class="page-container edit-profile"> 
        <div class="pic-upload">
            <img id="profilePic" class="pro-pic"  alt="profile pic" data-bind="attr: {src: imgURL}" />

            <oj-file-picker class='oj-filepicker-custom upload-btn' id="file"
                            selectOn='click' selection-mode="single"
                            on-select='[[selectListener]]'>
                <oj-button slot='trigger'>
                    <span slot='startIcon' class='icon-upload'></span>
                    Upload
                </oj-button>
            </oj-file-picker>
        </div>
        <div class="theme-selector"> 
            <oj-label for="language" >First Name</oj-label>   
            <oj-input-text id="text-input" style="max-width:50%" value="{{firstName}}"></oj-input-text>
        </div>

        <div class="theme-selector"> 
            <oj-label for="language" >Last Name</oj-label>   
            <oj-input-text id="text-input"  style="max-width:50%" value="{{lastName}}"></oj-input-text>
        </div>
        <div class="theme-selector"> 
            <oj-label for="language" >Email</oj-label>   
            <oj-input-text id="text-input"  style="max-width:50%" value="{{email}}"></oj-input-text>
        </div>
        <div class="field-container">
            <div class="col-50"> 
                <oj-label for="language" >Gender</oj-label>   
                <select id="gender"
                        data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   label: 'Langauge'}">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col-50"> 
                <oj-label for="city" >City</oj-label>   
                <select id="city"
                        data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   label: 'Langauge'}">
                    <option value="Male">Riyadah</option>
                    <option value="Female">Geddah</option>
                </select>
            </div>
        </div>

        <oj-button slot='trigger' class="submit-btn" on-click='[[submit]]'>
            Submit
        </oj-button>
    </div>
</div>
<!-- /ko -->

<!-- ko ifnot: model.lang -->
<div class="oj-hybrid-padding">
    <h1>تعديل الملف الشخصي</h1>
    <div class="page-container edit-profile"> 
        <div class="pic-upload">
            <img id="profilePic" class="pro-pic"  alt="profile pic" data-bind="attr: {src: imgURL}" />

            <oj-file-picker class='oj-filepicker-custom upload-btn' id="file"
                            selectOn='click' selection-mode="single"
                            on-select='[[selectListener]]'>
                <oj-button slot='trigger'>
                    <span slot='startIcon' class='icon-upload'></span>
                    تحميل
                </oj-button>
            </oj-file-picker>
        </div>
        <div class="theme-selector"> 
            <oj-label for="language" >الأسم الأول</oj-label>   
            <oj-input-text id="text-input" style="max-width:50%" value="{{firstName}}"></oj-input-text>
        </div>

        <div class="theme-selector"> 
            <oj-label for="language" >اسم العائلة</oj-label>   
            <oj-input-text id="text-input"  style="max-width:50%" value="{{lastName}}"></oj-input-text>
        </div>
        <div class="theme-selector"> 
            <oj-label for="language" >البريد الإلكتروني</oj-label>   
            <oj-input-text id="text-input"  style="max-width:50%" value="{{email}}"></oj-input-text>
        </div>
        <div class="field-container">
            <div class="col-50"> 
                <oj-label for="language" >النوع</oj-label>   
                <select id="gender"
                        data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   label: 'Langauge'}">
                    <option value="Male">ذكر</option>
                    <option value="Female">أنثى</option>
                </select>
            </div>
            <div class="col-50"> 
                <oj-label for="city" >المدينة</oj-label>   
                <select id="city"
                        data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   label: 'Langauge'}">
                    <option value="Male">الرياض</option>
                    <option value="Female">جدة</option>
                </select>
            </div>
        </div>

        <oj-button slot='trigger' class="submit-btn" on-click='[[submit]]'>
            إرسال
        </oj-button>
    </div>
</div>
<!-- /ko -->