<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h1>Login</h1>
   
    <div class="login-container">
<!--        <span class="oj-label">Please Enter your username and Password</span>-->
         <form id="loginFrom" method="post" action="" name="loginFrom">
            
             <oj-label for="username">User Name</oj-label> 
             <input id="username" title="Enter you username."
                   placeholder="Username"
                   data-bind="ojComponent: {component: 'ojInputText',
                                         value: username, label: 'Username',required: true}">
           <oj-label for="password">Password</oj-label> 
            <input id="password" title="Enter you Password."
                   placeholder="Password"
                   data-bind="ojComponent: {component: 'ojInputText',
                                         value: password, label: 'Password',required: true}">
                                <div class="login-btn-box">
                                    <button id= "button"  data-bind="click: buttonClick,
                                               ojComponent: { component: 'ojButton', label: 'Login' }">
                                    </button>
                                    <a id="cannotSignInBtn" href="javascript:;" class="forgotLink">Can't login?</a>
                                  
                                    <span class="result oj-label"></span>
                                    
                                        <p>
                                            <input class="check-box" id="rememberUserName" type="checkbox">
                                         <oj-label class="remUN" for="rememberUserName">Remeber User Name</oj-label>       
                                    </p>                                     
                                </div>
         </form>
    </div>
</div>