<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
 
        <span class="slider-txt" data-bind="text: pageContext, visible:false"></span>

        <div id="indicator-slider" class="slider-container">
            <div id="componentSliderContent" style="width: 1px; min-width: 100%;">
                <div id="masdar-filmstrip">

                    <div class="oj-panel">

                        <div id="detailFilmStripDiv">
                            <!-- create: handleDetailCreate -->
                            <oj-film-strip id="detailFilmStrip" aria-label="Detail set of indicators" max-items-per-page="1" current-item="{{currDetailPage}}" arrow-placement="overlay">
                                <!-- ko foreach: indicators -->
                                <div class="oj-panel oj-panel-alt2 slider-detail-item" data-bind="style: {
                       display: getDetailItemInitialDisplay($index())}">

                                    <img id="slider-img" data-bind="attr: {src: url}" class="slide-img">
                                    <span class="slider-txt" data-bind="text: name"></span>
                                </div>
                                <!-- /ko -->
                            </oj-film-strip>
                        </div>
                        <!-- end detailFilmStripDiv -->

                        <oj-label class="oj-helper-hidden-accessible" id="masterItemSelectedLabel">(currently selected)</oj-label>
                        <div id="masterFilmStripDiv">
                            <oj-film-strip id="masterFilmStrip" aria-label="Master set of indicators">
                                <!-- ko foreach: indicators -->
                                <a href="#" aria-controls="detailFilmStrip" data-bind="style: {
                       display: getMasterItemInitialDisplay($index())}, 
                     attr: {
                       'aria-labelledby': getMasterItemLabelledBy($index())}, 
                     click: masterClick, css: {
                         'oj-selected':  isMasterItemSelected($index())}">

                                    <div class="oj-panel oj-panel-alt2 slider-master-item">
                         <span class="" data-bind="attr: {class: css}"></span>
                                        <span data-bind="text: name, 
                            attr: {id: getMasterItemLabelId($index())}"></span>
                                    </div>
                                </a>
                                <!-- /ko -->
                            </oj-film-strip>
                        </div>
                        <!-- end masterFilmStripDiv -->
                        <div id="listFilmStripDiv">
                            <ul class="indicator-list">
                                <!-- ko foreach: reports -->
                                <li>
                                    <a data-bind="click: function() {$parent.routing($data)}">
                                        <!-- ko text: name -->
                                        <!-- /ko -->
                                        <i class="fa fa-angle-double-right"></i></a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>