<div class="oj-applayout-content page-bg">
    <div role="main" class="oj-hybrid-applayout-content">
        <div class="oj-hybrid-padding">
            <!-- <h1>Dashboard Content Area</h1>
                <div>
                To change the content of this section, you will make edits to the dashboard.html file located in the /js/views folder.
            </div>-->
            <div class="search-box">
                <input id="search" title="Enter you search keyword"
                       placeholder="Search keyword">
                <button id= "button" class="icon-search"></button>
            </div>
            <div id="icon-list-container">
                
                <ul  id="dashboards" class="oj-listview-card-layout list-icon oj-listview-group" >
                    <!-- ko foreach: items -->
                    <li id="biDashboard" class="oj-listview-item-element oj-listview-item">
                        <a  data-bind="click: function() {$parent.routing($data)}">
                            <span class="" data-bind="attr: {class: css}"></span>
                            <span class="icon-name" data-bind="text: name"></span>
                        </a>                   
                    </li>
                    <!-- /ko -->
                </ul>
                
            </div>
        </div>
    </div>
</div>