<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div id="infographicsId" class="infograph-page">
    
     <oj-popup
                  
              tail="none" position.my.horizontal="center" position.my.vertical="bottom"
            position.at.horizontal="center" position.at.vertical="center"
            position.of="window" position.offset.y="-10"
            modality="modal" 
                  style="display:none;" id="popup1" >
                <img style="width:100% ;" data-bind="attr: { 'src': popImg }" >
          </oj-popup>   
    
    
    <oj-accordion   class="about-list">
    <oj-collapsible expanded  >

        <h4   slot="header" class="oj-header-border"><i class="icon-masdar-icon"></i>
            <span data-bind="text:model.foreignTrade"></span>
        </h4>
        <div>
             <oj-film-strip id="ftFilmStrip"                     
                   aria-label="Set of chemicals" 
                   orientation="[[StripOrient]]"
                    max-items-per-page="2"
                   arrow-placement="overlay"
                   arrow-visibility="hover">
              <!--ko foreach: ftImgStrip -->
              <div  class="oj-panel oj-panel-alt2 demo-filmstrip-item" 
                     data-bind="click:zoomImg, style: { 
                       display: getItemInitialDisplay($index())}">
                   <!--<span data-bind="text: name"></span>-->
                  <!--<img style="width:50%" src="https://officialpsds.com/imageview/r5/05/r505jw_large.png?1521316518" />-->
                    <img style="width:100% ;"  data-bind="attr: { 'src': 'img/infographics/'+name+'.jpg' }" >
                    <!--<img style="width:50% ;" src="img/1.jpg" >-->
                
                </div>
             <!-- /ko -->

              </oj-film-strip>

             
 <div style="text-align: center;">
    <div style="display: inline-block;margin-top: 4px;">
      <oj-paging-control id="pagingControl" 
         data="[[ftPagingModel]]"
         page-size="0"
         page-options='{"type": "dots"}'>
      </oj-paging-control>
    </div>
  </div>
            
        </div>
    
    </oj-collapsible>

    <oj-collapsible  >
        <h4   slot="header" class="oj-header-border">
            <i class="icon-masdar-icon"></i>
              <span data-bind="text:model.activeCommerce"></span>
                    </h4>
                  <div>
                  <oj-film-strip id="piFilmStrip"                     
                   aria-label="Set of chemicals" 
                   orientation="[[StripOrient]]"
                    max-items-per-page="2"
                   arrow-placement="overlay"
                   arrow-visibility="hover">
              <!--ko foreach: piImgStrip -->
              <div  class="oj-panel oj-panel-alt2 demo-filmstrip-item" 
                     data-bind="click:zoomImg, style: { 
                       display: getItemInitialDisplay($index())}">
                   <!--<span data-bind="text: name"></span>-->
                  <!--<img style="width:50%" src="https://officialpsds.com/imageview/r5/05/r505jw_large.png?1521316518" />-->
                    <img style="width:100% ;"  data-bind="attr: { 'src': 'img/infographics/'+name+'.jpg' }" >
                    <!--<img style="width:50% ;" src="img/1.jpg" >-->
                
                </div>
             <!-- /ko -->

              </oj-film-strip>
                      
  <div style="text-align: center;">
    <div style="display: inline-block;margin-top: 4px;">
      <oj-paging-control id="piPagingControl" 
         data="[[piPagingModel]]"
         page-size="0"
         page-options='{"type": "dots"}'>
      </oj-paging-control>
    </div>
  </div>
                      
              </div>
  
 
    </oj-collapsible>
    <oj-collapsible >
        <h4   slot="header" class="oj-header-border">
            <i class="icon-masdar-icon"></i>
           <span data-bind="text:model.population"></span>
        </h4>
            <div>
    
                 <oj-film-strip id="popFilmStrip"                     
                   aria-label="Set of chemicals" 
                   orientation="[[StripOrient]]"
                    max-items-per-page="2"
                   arrow-placement="overlay"
                   arrow-visibility="hover">
              <!--ko foreach: popImgStrip -->
              <div  class="oj-panel oj-panel-alt2 demo-filmstrip-item" 
                     data-bind="click:zoomImg, style: { 
                       display: getItemInitialDisplay($index())}">
                   <!--<span data-bind="text: name"></span>-->
                  <!--<img style="width:50%" src="https://officialpsds.com/imageview/r5/05/r505jw_large.png?1521316518" />-->
                    <img style="width:100% ;"  data-bind="attr: { 'src': 'img/infographics/'+name+'.jpg' }" >
                    <!--<img style="width:50% ;" src="img/1.jpg" >-->
                
                </div>
             <!-- /ko -->

              </oj-film-strip>

             
 <div style="text-align: center;">
    <div style="display: inline-block;margin-top: 4px;">
      <oj-paging-control
         data="[[popPagingModel]]"
         page-size="0"
         page-options='{"type": "dots"}'>
      </oj-paging-control>
    </div>
  </div>
        </div>
    
    </oj-collapsible>
    <oj-collapsible  >
        <h4  slot="header" class="oj-header-border">
            <i class="icon-masdar-icon"></i>
           <span data-bind="text:model.saudi"></span>
        </h4>
               <div>
    
                 <oj-film-strip id="genFilmStrip"                     
                   aria-label="Set of chemicals" 
                   orientation="[[StripOrient]]"
                    max-items-per-page="2"
                   arrow-placement="overlay"
                   arrow-visibility="hover">
              <!--ko foreach: genImgStrip -->
              <div  class="oj-panel oj-panel-alt2 demo-filmstrip-item" 
                     data-bind="click:zoomImg, style: { 
                       display: getItemInitialDisplay($index())}">
                   <!--<span data-bind="text: name"></span>-->
                  <!--<img style="width:50%" src="https://officialpsds.com/imageview/r5/05/r505jw_large.png?1521316518" />-->
                    <img style="width:100% ;"  data-bind="attr: { 'src': 'img/infographics/'+name+'.jpg' }" >
                    <!--<img style="width:50% ;" src="img/1.jpg" >-->
                
                </div>
             <!-- /ko -->

              </oj-film-strip>

             
 <div style="text-align: center;">
    <div style="display: inline-block;margin-top: 4px;">
      <oj-paging-control
         data="[[genPagingModel]]"
         page-size="0"
         page-options='{"type": "dots"}'>
      </oj-paging-control>
    </div>
  </div>
        </div>
  
    </oj-collapsible>
</oj-accordion>
    
    



</div>
