<div data-bind="ojComponent: {component: 'ojButtonset', checked: formats}">
    <!--Arabic-->
    <label for="arabic">Arabic</label>
    <input data-bind="click: function(){setLang('Arabic');}" 
           type="checkbox" value="arabic" id="arabic"/>
    <!--Czech-->
    <label for="czech">Czech</label>
    <input data-bind="click: function(){setLang('Czech');}" 
           type="checkbox" value="czech" id="czech"/>
    <!--French-->
    <label for="french">French</label>
    <input data-bind="click: function(){setLang('French');}" 
           type="checkbox" value="french" id="french"/>
    <!--English-->
    <label for="english">English</label>
    <input data-bind="click: function(){setLang('English');}" 
           type="checkbox" value="english" id="english"/>

</div>
<br/>
<br/>
aaa
<span style="font-size: 50pt" id="greeting" data-bind="text: localeGreeting"></span>
bbb
<br/>
<span data-bind="text: localeDate"></span>
<input id="dateInput" type="text" 
    data-bind="ojComponent: {
        component:'ojInputDateTime', 
        value: date,
        datePicker: {changeMonth: 'none', changeYear: 'none'}
    }"/>