<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="stat-library">
    <div class="page-banner">
        <img src="img/library.jpg" alt="" />
    </div>
    <!-- ko if: model.lang -->
    <div class="list-container">
         <oj-accordion id="library-list" class="library-list">
        <oj-collapsible id="lib1" class="oj-expanded">
            <h4 id="h1" slot="header" class="oj-header-border">Price Indices</h4>
            <ul id="p1">
                <li><a href="#">Average Prices</a></li>
                <li><a href="#">Cost of Living Index</a></li>
                <li><a href="#">WholeSale Price Index</a></li>
                <li><a href="#">Real Estate Price Index</a></li>
            </ul>
        </oj-collapsible>
        <oj-collapsible id="lib2">
            <h4 id="h2" slot="header" class="oj-header-border">Foreign Trade</h4>
            <ul id="p2">
                <li><a href="#">Imports</a></li>
                <li><a href="#">Exports</a></li>
                <li><a href="#">Trade Exchange</a></li>
                <li><a href="#">Indices of Foreign Trade</a></li>
                <li><a href="#">Merchandise Exports and Imports</a></li>
            </ul>
        </oj-collapsible>
        <oj-collapsible id="lib3">
            <h4 id="h3" slot="header" class="oj-header-border">National Accounts</h4>
            <ul id="p3">
                <li><a href="#">Gross Domestic Product</a></li>
                <li><a href="#">Expenditure on GDP</a></li>
            </ul>
        </oj-collapsible>
        <oj-collapsible id="lib4">
            <h4 id="h4" slot="header" class="oj-header-border">Industry and Business</h4>
            <ul id="p4">
                <li><a href="#">Economic Research for Institutions</a></li>
                <li><a href="#">Financial and insurance services</a></li>
            </ul>
        </oj-collapsible>
         </oj-accordion>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: model.lang -->
    <div class="list-container">
         <oj-accordion id="library-list" class="library-list">
        <oj-collapsible id="lib1" class="oj-expanded">
            <h4 id="h1" slot="header" class="oj-header-border">مؤشرات الأسعار</h4> 
            <ul id="p1">
                <li><a href="#">متوسط ​​الأسعار</a></li>
                <li><a href="#">مؤشر تكلفة المعيشة</a></li>              
                <li><a href="#">فهرس الأسعار بالجملة</a></li>
                <li><a href="#">مؤشر أسعار العقارات</a></li>
            </ul>
        </oj-collapsible>
        <oj-collapsible id="lib2">
            <h4 id="h2" slot="header" class="oj-header-border">التجارة الخارجية</h4>
            <ul id="p2">
                <li><a href="#">الواردات</a></li>
                <li><a href="#">الصادرات</a></li>
                <li><a href="#">تبادل التجارة</a></li>
                <li><a href="#">مؤشرات التجارة الخارجية</a></li>
                <li><a href="#">صادرات البضائع ووارداتها</a></li>
            </ul>
        </oj-collapsible>
        <oj-collapsible id="lib3">
            <h4 id="h3" slot="header" class="oj-header-border">الحسابات القومية</h4>            
            <ul id="p3">
                <li><a href="#">الناتج المحلي الإجمالي</a></li>
                <li><a href="#">الإنفاق على الناتج المحلي الإجمالي</a></li>
            </ul>
        </oj-collapsible>
        <oj-collapsible id="lib4">
            <h4 id="h4" slot="header" class="oj-header-border">الصناعة والأعمال</h4>
            <ul id="p4">
                <li><a href="#">البحوث الاقتصادية للمؤسسات</a></li>
                <li><a href="#">الخدمات المالية وخدمات التأمين</a></li>
            </ul>
        </oj-collapsible>
         </oj-accordion>
    </div>
    <!-- /ko -->

</div>