<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="news">
     <!--div class="page-banner">
        <img src="img/news.jpg" alt="" />
    </div-->
 
    <div class="news-container">
       
<!--        <ul data-bind="foreach: { data: RssFeeds, as: 'category' }">

            <li>
                <span data-bind="text: category.title"></span>:
     ko text: category.desc 
                /ko
            </li>

</ul>-->
<!--     <oj-accordion  class="news-list"> 
        <oj-collapsible  >
            <span  slot="header">heade 1</span>  
                <div  >sdsds</div>  
        </oj-collapsible>
              <oj-collapsible  >
            <span  slot="header">heade 2</span>  
                <div  >sdsds</div>  
        </oj-collapsible>
              <oj-collapsible  >
            <span  slot="header">heade 2</span>  
                <div  >sdsds</div>  
        </oj-collapsible>
   
 
  </oj-accordion>    -->

<!-- ko if: model.lang -->
  <oj-accordion  on-oj-before-expand='[[expandNews]]' class="news-list">
   <!-- ko foreach:{ data: RssFeeds, as: 'news' }  -->
        <oj-collapsible>
            <!--<img src="img/masdar-icon.png" width="44" height="44" alt=""/>-->
            <h2 slot="header" class="news-title" data-bind="text:news.title">  </h2>
                <div data-bind="htmlTemplate:news.desc"></div>
        </oj-collapsible>
   
         <!--/ko-->
          </oj-accordion>
     <!--/ko-->
 
<!-- ko ifnot: model.lang -->
  <oj-accordion  on-oj-before-expand='[[expandNews]]' class="news-list">
   <!-- ko foreach:{ data: RssArFeeds, as: 'news' }  -->
        <oj-collapsible  >
           <h2 slot="header" class="news-title" data-bind="text:news.title"></h2>
                <div data-bind="htmlTemplate:news.desc"></div>
        </oj-collapsible>
   
         <!--/ko-->
          </oj-accordion>
     <!--/ko-->
     
     
    </div>
 
 
</div>
