<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
 <div class="pop-banner">
     
<div id="population">
    
    
                  <div id="indicator-slider" class="slider-container">
            <div id="componentSliderContent" style="width: 1px; min-width: 100%;">
                <div id="masdar-filmstrip">

                    <div class="oj-panel">

                        <div id="detailFilmStripDiv">
                            <!-- create: handleDetailCreate -->
                            <oj-film-strip id="detailFilmStrip" aria-label="Detail set of indicators" max-items-per-page="1" current-item="{{currDetailPage}}" arrow-placement="overlay">
                                <!-- ko foreach: indicators -->
                                <div class="oj-panel oj-panel-alt2 slider-detail-item" data-bind="style: {
                       display: getDetailItemInitialDisplay($index())}">

                                    <img id="slider-img" data-bind="attr: {src: url}" class="slide-img">
                                      <div class="title-bar">
                                    <span class="slider-txt" style="color: #eee" data-bind="text: name"></span>
                                      </div>
                                </div>
                                <!-- /ko -->
                            </oj-film-strip>
                        </div>
                        <!-- end detailFilmStripDiv -->

                        <oj-label class="oj-helper-hidden-accessible" id="masterItemSelectedLabel">(currently selected)</oj-label>
                        <div id="masterFilmStripDiv">
                            <oj-film-strip id="masterFilmStrip" aria-label="Master set of indicators">
                                <!-- ko foreach: indicators -->
                                <a href="#" aria-controls="detailFilmStrip" data-bind="style: {
                       display: getMasterItemInitialDisplay($index())}, 
                     attr: {
                       'aria-labelledby': getMasterItemLabelledBy($index())}, 
                     click: masterClick, css: {
                         'oj-selected':  isMasterItemSelected($index())}">

                                    <div style="height:auto" class="oj-panel oj-panel-alt2 slider-master-item">
                         <span class="" data-bind="attr: {class: css}"></span>
<!--                                        <span data-bind="text: name, 
                            attr: {id: getMasterItemLabelId($index())}"></span>-->
                                    </div>
                                </a>
                                <!-- /ko -->
                            </oj-film-strip>
                        </div>
                        <!-- end masterFilmStripDiv -->
                        <div class="chart-container" id="graphFilmStripDiv">
           <oj-chart id="barChart" type="bar"

                hover-behavior="dim"
                      orientation="[[orientationValue]]" stack="[[stackValue]]" legend.position="bottom" translations.label-no-data="جاري التحميل" series="[[barSeriesValue]]" groups="[[barGroupsValue]]" animation-on-display="auto" animation-on-data-change="auto"
                 style="width:100%;padding:0px 5px;height:270px;background: url(css/images/masdar-watermark.png) center center no-repeat;background-color: white;">
            </oj-chart>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</div>  
    
<!--    <div class="pop-banner">
        <img src="img/population.jpg"/>
        <div class="pop-icon"><i class="icon-people"></i></div>
        <div class="title-bar">
        <h3>ko text: model.totalPopulation  /ko </h3>
        <h2 class="timer count-title count-number" data-to="32552336" data-speed="700">32552336</h2>
        </div>
    </div>
    <div class="oj-hybrid-padding">
    <div class="page-container">
        

        
        
        <img src="img/population-pyramid-2016.gif" alt="" width="100%" />
    </div>
</div>-->
    </div>