<!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" type="text/css" />
   <link rel="stylesheet" href="css/fontawesome-stars.css" type="text/css"/>-->
<div  class="oj-hybrid-padding">

       <div class="page-container">
        <!-- <select id="example">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select> -->
        <table class="rating-wrapper"> 
            <tbody>
                <tr> 
                    <td><label>Your Rating:</label> </td> 
                    <td class="rate-status">
                       
            <oj-rating-gauge id="gauge1"  value="{{rating}}"  
                            on-value-changed="[[ratingChange]]"  readonly="[[readOnly]]"
                            transient-value="{{transientValue}}"
                            thresholds="[[thresholdValues]]"
                             style="width:100%;height:30px;"></oj-rating-gauge>
                                      
                <span class="rate-label"><oj-bind-text value="[[getDesc()]]"></oj-bind-text></span>            
           
                
        </td> <td>
                <span data-bind="click:editRating, visible: readOnly" class="icon-edit" />  
        <span data-bind="click:editRating, visible: readOnly" class="icon-smile" />  
 
               <!--<img style="width:99% ;" data-bind="visible: !readOnly() , attr: { 'src': 'img/r'+transientValue()+'.png' }" class="demo-svg-image">-->
        
                    </td> 
                </tr>
                <tr>
                    <td colspan="3"> <hr> </td>  
                </tr>
               <tr data-bind="visible:readOnly">
                   <td><label>Average Rating:</label></td> 
            <td class="rate-status">
            <oj-rating-gauge id="gauge2"  value="{{averageRt}}"  
                              readonly="true" step=".2"
                            thresholds="[[thresholdValues]]"
                style="width:100%;height:30px;">                                 
            </oj-rating-gauge>
                                      
                <span style="avg-rate">
                    <oj-bind-text value="[[averageRating()]]"></oj-bind-text></span>                        
            </td>
            <td>
                <!--<img style="width: 70% ;" data-bind="attr: { 'src': 'img/r'+Math.ceil(averageRt())+'.png' }" class="demo-svg-image">-->
            </td>
        </tr> 
            </tbody></table>
        <div class="feed-container" data-bind="visible: !readOnly()" >
        <h3>
            <!--ko text: model.feedback -->
            <!-- /ko -->
        </h3>
        <oj-text-area  placeholder="Your Comments" id="text-area" value="{{value}}">
        </oj-text-area>
            <div class="btns-wrapper">
                <button id="button" class="submit-btn" data-bind="click: submit , ojComponent: { component: 'ojButton', label: model.submit }"></button>
                <button id="button" class="back-btn" data-bind="click: back , ojComponent: { component: 'ojButton', label: model.back }"></button>
            </div>
        </div>
         </div>
    <div>
        <div  data-bind="visible:readOnly" class="dynamicReport demo-container" >            
            
            <div class="chart-container">
                 <oj-chart id="ratChart"
                type="pie"
                series="{{pieSeriesValue}}"
                groups="[[pieGroupsValue]]"
                style-defaults='{"threeDEffect": "on"}'
                animation-on-data-change="auto" legend.position="bottom"
                style="width:100%;display:inline-block;vertical-align:top;">
            </oj-chart>
            </div>
            
        </div>
    </div>
</div>