<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="oj-hybrid-padding">
    
   
    <h1><!--ko text: model.settings --><!-- /ko --></h1>
    <div id="sampleDemo" class="page-container setting-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
<!--            <div class="theme-selector"> 
                <oj-label for="language" >
                    ko text: model.langtxt  /ko 
                </oj-label>   
                <select id="language"
                        data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   value: model.lang,
                                   label: 'Langauge'}">
                    <option value="English">English</option>
                    <option value="Arabic">عربي</option>
                </select>
                <button id= "button"
                        data-bind="click: function() {langChange()},
                   ojComponent: { component: 'ojButton', label: 'Apply' }"></button>
            </div>

            <div class="theme-selector"> 

                <oj-label for="multiSelect" >
                    ko text: model.themetxt  /ko 
                </oj-label>           
                <select id="multiSelect"
                        data-bind="ojComponent: {component: 'ojSelect',
                                   multiple: false, 
                                   value: theme,
                                   optionChange: stateOptionChangedHandler}">
                    <option value="white">Default</option>
                    <option value="aliceblue">Blue</option>
                    <option value="lavenderblush">Red</option>
                    <option value="azure">Green</option>
                </select>            
            </div>-->


            <div id="slider-container">            
                <oj-label for="slider" ><!--ko text: model.fontSizetxt --><!-- /ko --></oj-label>
                <oj-slider id="slider" value="{{value}}" min="[[min]]" max="[[max]]" step="[[step]]" 
                           on-value-changed="{{valueChangedListener}}"> </oj-slider>

                <p class="size"><!--ko text: model.fontSize --><!-- /ko --><span id="value" data-bind="text: value"></span> </p>            
                <p id="span1"><!--ko text: model.example --><!-- /ko --></p>
            </div>

            <br/>
            <button id="button" class="submit-btn"
        data-bind="ojComponent: { component: 'ojButton', label: model.submit }"></button>
        </div>
    </div>
</div>