<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- 
<div class="oj-hybrid-padding">


</div> -->

 <div id="statMap" style="" class="component-wrapper">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <div id='mapContainer'>
                <oj-select-one id="mapSelect" class="oj-flex-item" aria-controls="map1"
              value='{{map}}' on-value-changed='[[mapListener]]'>
             
              <oj-option value="asia"> <!--ko text: model.saudi -->
                        <!-- /ko --></oj-option>
               <oj-option value="world"><!--ko text: model.world -->
                       <!-- /ko --></oj-option>
<!--              <oj-option value="australia">Australia</oj-option>
              <oj-option value="europe">Europe</oj-option>
              <oj-option value="northAmerica">North America</oj-option>
              <oj-option value="southAmerica">South America</oj-option>
               <oj-option value="africa">Africa</oj-option>-->
             
            </oj-select-one>
          <oj-thematic-map id='map1' areas='[[areaData]]' zooming='auto' panning='auto'
            animation-on-display='auto' selection-mode='single' selection='{{selectionValue}}'
            map-provider='[[mapProvider]]' style='padding:0px 10px;width:100%;height:300px;'>
          </oj-thematic-map>
              <div class=" oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4  oj-sm-flex-direction-column">
 
                <div class="oj-flex region-title">
            <!--<oj-label class="oj-flex-item" for="mapSelect" style="font-weight:bold;">Map</oj-label>-->

  
            <h3 data-bind="text:region"></h3>
              <!--<oj-label class="oj-flex-item"   style="font-weight:bold;">Yearly Report</oj-label>-->
             
                </div>
          </div>
        </div>
          
          <div>
                 
          
               
                </div>
  <div class="map-info">
         <!--<oj-switch value="{{ViewType}}" id="switch2"></oj-switch>-->
         
         <oj-buttonset-one class="map-btnSet"  id="viewSet" value="{{ViewType}}">
                   <oj-option  class="map-btn" value="Year">
                      <!--<span slot='endIcon' class="icon icon-graph"></span>-->
                     <!--ko text: model.yearView -->                        <!-- /ko --> 
                    </oj-option>
              <oj-option   class="map-btn" value="Indicator">
                      <!--<span slot='endIcon' class="icon icon-library "></span>-->
                    <!--ko text: model.indiView -->                        <!-- /ko --> 
                    </oj-option>
            </oj-buttonset-one>    
         
       <oj-table id='tablsse' aria-label='Statistics Table' 
                                        data='[[dataprovider]]'
                                        columns='{{columnArray}}'>
        </oj-table> 
      
              <script type="text/html" id="yr_hdr_tmpl">
                <td>
   
           <oj-select-one   class="oj-flex-item"  value="{{$parent.selYear}}"
              options="[[$parent.year_options]]"    />  

                </td>
        </script>
        
    <script type="text/html" id="in_hdr_tmpl">
                <td>
           <oj-select-one value="{{$parent.selIn}}" options="[[$parent.indi_options]]"/> 

                </td>
        </script>
        
          </div>
        </div>
        
      </div>

 