<oj-chart id="barChart"
          type="bar" 
          orientation="[[orientationValue]]"
          stack="[[stackValue]]"
          series="[[barSeriesValue]]"
          groups="[[barGroupsValue]]" 
          animation-on-display="auto"
          animation-on-data-change="auto"
          hover-behavior="dim"
          style="max-width:500px;width:100%;height:350px;">
</oj-chart>
<button id= "button"  data-bind="click: buttonClick,
    ojComponent: { component: 'ojButton', label: 'Test' }">
</button>