/* This is to prevent the flash of unstyled content before the composite properties have been setup. */
demo-chart-orientation-control:not(.oj-complete) {
  visibility: hidden;
}

.demo-coc-bar-vert,
.demo-coc-bar-horiz,
.demo-coc-area-vert,
.demo-coc-area-horiz,
.demo-coc-line-vert,
.demo-coc-line-horiz,
.demo-coc-box-vert,
.demo-coc-box-horiz,
.demo-coc-funnel-vert,
.demo-coc-funnel-horiz {
  height: 24px;
  width: 24px;
}

.demo-coc-bar-vert:before,
.demo-coc-bar-horiz:before,
.demo-coc-area-vert:before,
.demo-coc-area-horiz:before,
.demo-coc-line-vert:before,
.demo-coc-line-horiz:before,
.demo-coc-box-vert:before,
.demo-coc-box-horiz:before,
.demo-coc-funnel-vert:before,
.demo-coc-funnel-horiz:before {
  display: inline;
}

.demo-coc-bar-vert:before {
  content: url("./resources/bar_vert_ena.svg");
}
.oj-hover .demo-coc-bar-vert:before {
  content: url("./resources/bar_vert_ovr.svg");
}
.oj-selected .demo-coc-bar-vert {
  content: url("./resources/bar_vert_dwn.svg");
}

.demo-coc-bar-horiz:before {
  content: url("./resources/bar_horiz_ena.svg");
}
.oj-hover .demo-coc-bar-horiz:before {
  content: url("./resources/bar_horiz_ovr.svg");
}
.oj-selected .demo-coc-bar-horiz:before {
  content: url("./resources/bar_horiz_dwn.svg");
}

.demo-coc-area-vert:before {
  content: url("./resources/area_vert_ena.svg");
}
.oj-hover .demo-coc-area-vert:before {
  content: url("./resources/area_vert_ovr.svg");
}
.oj-selected .demo-coc-area-vert {
  content: url("./resources/area_vert_dwn.svg");
}

.demo-coc-area-horiz:before {
  content: url("./resources/area_horiz_ena.svg");
}
.oj-hover .demo-coc-area-horiz:before {
  content: url("./resources/area_horiz_ovr.svg");
}
.oj-selected .demo-coc-area-horiz:before {
  content: url("./resources/area_horiz_dwn.svg");
}

.demo-coc-line-vert:before {
  content: url("./resources/line_vert_ena.svg");
}
.oj-hover .demo-coc-line-vert:before {
  content: url("./resources/line_vert_ovr.svg");
}
.oj-selected .demo-coc-line-vert {
  content: url("./resources/line_vert_dwn.svg");
}

.demo-coc-line-horiz:before {
  content: url("./resources/line_horiz_ena.svg");
}
.oj-hover .demo-coc-line-horiz:before {
  content: url("./resources/line_horiz_ovr.svg");
}
.oj-selected .demo-coc-line-horiz:before {
  content: url("./resources/line_horiz_dwn.svg");
}

.demo-coc-box-vert:before {
  content: url("./resources/box_vert_ena.svg");
}
.oj-hover .demo-coc-box-vert:before {
  content: url("./resources/box_vert_ovr.svg");
}
.oj-selected .demo-coc-box-vert {
  content: url("./resources/box_vert_dwn.svg");
}

.demo-coc-box-horiz:before {
  content: url("./resources/box_horiz_ena.svg");
}
.oj-hover .demo-coc-box-horiz:before {
  content: url("./resources/box_horiz_ovr.svg");
}
.oj-selected .demo-coc-box-horiz:before {
  content: url("./resources/box_horiz_dwn.svg");
}

.demo-coc-funnel-vert:before {
  content: url("./resources/funnel_vert_ena.svg");
}
.oj-hover .demo-coc-funnel-vert:before {
  content: url("./resources/funnel_vert_ovr.svg");
}
.oj-selected .demo-coc-funnel-vert {
  content: url("./resources/funnel_vert_dwn.svg");
}

.demo-coc-funnel-horiz:before {
  content: url("./resources/funnel_horiz_ena.svg");
}
.oj-hover .demo-coc-funnel-horiz:before {
  content: url("./resources/funnel_horiz_ovr.svg");
}
.oj-selected .demo-coc-funnel-horiz:before {
  content: url("./resources/funnel_horiz_dwn.svg");
}
