/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Nov 19, 2017, 10:36:02 AM
    Author     : E003293
*/

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('fonts/NeoSansArabic.woff') format('woff'), url('fonts/NeoSansArabic.ttf') format('truetype'), url('fonts/NeoSansArabic.svg#NeoSansArabic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Neo Sans Arabic' !important;
}
.oj-web-applayout-body {
    overflow: auto;
}
a,
a:visited,
a:focus {
    color: #21baa6;
    outline: none;
    box-shadow: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.bg-white {
    background: #fff;
}


/*---- oj default icons ---*/

.oj-fwk-icon-arrow02-s:before,
.oj-fwk-icon-arrow02-w:before,
html:not([dir="rtl"]) .oj-fwk-icon-arrow02-start:before,
html[dir="rtl"] .oj-fwk-icon-arrow02-end:before,
html[dir="rtl"] .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before,
.oj-navigationlist-collapsible html[dir="rtl"] .oj-navigationlist-collapse-icon:before,
.oj-fwk-icon-arrow02-n:before,
.oj-fwk-icon-arrow02-e:before,
html[dir="rtl"] .oj-fwk-icon-arrow02-start:before,
html:not([dir="rtl"]) .oj-fwk-icon-arrow02-end:before,
html:not([dir="rtl"]) .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before,
.oj-navigationlist-collapsible html:not([dir="rtl"]) .oj-navigationlist-collapse-icon:before,
.oj-button-menu-dropdown-icon:before,
.oj-navigationlist-collapsible .oj-navigationlist-expand-icon:before,
.oj-combobox-open-icon:before,
.oj-select-open-icon:before {
    font-family: inherit !important;
}

.col-50 {
    width: 50%;
    float: left;
}


/*========== Header Style =========*/

.oj-web-applayout-header {
    background: #fff;
    position: relative;
    z-index: 1;
    border: 0;
}

.oj-hybrid-applayout-header,
.oj-hybrid-applayout-header-no-border {
    background: #fff;
    position: relative;
    z-index: 1;
    border: 0;
}

.oj-button.oj-default.oj-button-half-chrome .oj-button-icon,
.oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon {
    color: #45429a;
}

.oj-hybrid-applayout-header .oj-button-button {
    height: 40px;
}

.oj-hybrid-applayout-header .oj-button-icon {
    font-size: 2em;
}

.icon-nav.oj-button-icon {
    margin-top: 1px;
}

.oj-hybrid-applayout-header-title {
    width: 100%;
    text-align: center;
    color: #45429a;
    font-size: 1.1rem;
}

.oj-hybrid-applayout-header .oj-form-control {
    margin-bottom: 0;
}

.oj-hybrid-applayout-header .oj-switch-label {
    margin-right: 6px;
    margin-bottom: 0;
    color: #45429a;
}

.oj-hybrid-applayout-header .oj-switch-label label {
    line-height: 22px;
}

.oj-hybrid-applayout-header > .oj-flex-bar-start {
    padding: 0 !important;
}
#toggleButton {
    width: 30px;
    height: 40px;
    position: relative;
}

header .oj-flex-bar-end .lang-label {
    width: 100%;
    text-align: left;
}

header .oj-flex-bar-end .oj-switch {
    height: 20px;
    position: absolute;
    bottom: 3px;
}
header .icon-nav.oj-button-icon {
    vertical-align: middle;
    display: flex;
}

/*======= Page Layout [Home Page] ======*/

.page-bg {
    /*    background: url(images/page-bg.jpg) center bottom no-repeat;
    background-size: cover;*/
    /*min-height: 110vh;*/
    height: 100%;
}

.search-box {
    position: relative;
    margin-bottom: 10px;
}

.search-box input  {     
    padding:0px 15px;
    margin-bottom: 0px;
    color: #333e61;
}
 .search-box .oj-combobox{
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 0px;
    width: 100%;
    border: none;
    padding: 8px 10px;
    color: #333;
    line-height: 30px;
    border-radius: 40px;
}

.search-box button {
    width: 40px;
    height: 40px;
    color: #fff;
    background: none;
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    font-size: 2em;
}
.search-box .oj-combobox-choice {
    border: none;
    height: auto;
}
#moreSearch{
    display:none;margin:0px 10px;height: 25px;
}
#moreSearch a{
    position: absolute; left: 45%;
}

body.ar .search-box button {
    left: 10px;
    right: auto;
}

.search-box input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8) !important;
}

.search-box input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

.search-box input:-ms-input-placeholder {
    color: #fff !important;
}
.search-box a.oj-clickable-icon-nocontext {
    color: #fff;
    font-size: 1.3rem;
    line-height: 18px;
}
.no-result {
    display: none;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 10px 0;
}

.oj-web-applayout-content {
/*    background: #f8f8f8 url(images/page-bg.jpg) center bottom 48px no-repeat;*/
    background: #f8f8f8 url(images/page-bg.jpg) center bottom no-repeat;
    background-size: cover;
    padding: 0;
    position: relative;
    z-index: 0;
/*    padding-bottom: 58px;*/
}

.oj-web-applayout-content h1 {
    font-size: 1.8rem;
    color: #fff;
}

.list-icon {
    display: flex;
    flex-wrap: wrap;
}

.list-icon li {
    width: 111px;
    height: auto;
    text-align: center;
    display: inline-block;
}

.list-icon li .icon {
    width: 80px;
    height: 80px;
    display: block;
    padding: 18px 0;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    font-size: 2.75em;
    color: #fff;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
}

.list-icon li a:hover .icon {
    color: #48bdc3;
    background: #fff;
}

.oj-listview,
.oj-listview-item-element {
    border: none !important;
}

.oj-listview-card-layout li.oj-listview-item {
    width: 126px;
    border: none;
    margin: 5px 0 !important;
}

li.oj-listview-item.oj-hover {
    background: none;
}

li.oj-listview-item.oj-hover .icon span {
    background-position: 0 -55px !important;
}

.oj-listview-item-element .icon-name {
    text-align: center;
    color: #fff;
    margin-top: 5px;
    text-shadow: 1px 1px 2px #000;
    font-size: 0.95em;
    display: block;
}

.oj-inputtext-input,
.oj-inputpassword-input,
.oj-textarea-input,
.oj-inputtext-nocomp,
.oj-inputpassword-nocomp,
.oj-textarea-nocomp {
    border-color: #dbe3e6;
    background: #fdfdfd;
}


/*====== Slider Style =======*/

#navDrawer {
    background: #eee;
    overflow: hidden;
}

/*.demo-navdrawer-profile-section {
    background: #4d358c;
}*/
.demo-navdrawer .demo-navdrawer-profile-section {
    padding: 0;
    background: #a1a9ae;
}
.demo-navdrawer-profile-section img{
    height: 215px;
}
.demo-navdrawer-profile-section p {
    color: #af9fd8;
}

#navDrawer oj-navigation-list {
    margin-top: 20px;
}

.oj-contrast-marker .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
    background: #49a6be;
}

.oj-contrast-marker .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected a {
    border: none;
}

html:not([dir="rtl"]) .oj-navigationlist-vertical:not(.oj-navigationlist-icon-only) .oj-navigationlist-item {
    border-width: 0 0 0 5px;
}

#navDrawer .oj-navigationlist-item.oj-hover {
    background: #ccc;
    border-color: #49a6be;
}

.oj-navigationlist-item.oj-selected {
    border-color: #4d358c;
}

.demo-navdrawer li {
    opacity: 1;
}

.demo-navdrawer-content-wrapper::before {
    background: url(images/masdar-icon-grey.svg) no-repeat 75px bottom;
    opacity: 0.07;
    transform: rotate(20deg);
    position: absolute;
    right: -137px;
}

.oj-contrast-marker .oj-navigationlist-item-icon {
    color: #49a6be;
    line-height: 0;
}

.oj-contrast-marker a.oj-navigationlist-item-content .oj-navigationlist-item-label {
    color: #868a8b;
    font-size: 13pt;
}

#navDrawer .masdar-footer-logo {
    width: auto;
    height: 40px;
    margin: auto;
    background: url(images/masdar-logo.svg) no-repeat center bottom;
    background-size: auto 40px;
}

a.oj-navigationlist-item-content {
    border-bottom: 1px solid #ddd;
}

.oj-navigationlist-item-icon {
    font-size: 1.6em;
}


/*--- Page Style Common ---*/

.page-banner {
    width: 100%;
    position: relative;
    line-height: 0;
}

.page-banner .gastat {
    position: absolute;
    width: 150px;
    top: -8px;
    right: -15px;
}

.page-banner img {
    width: 100%;
}

.oj-collapsible {
    background: #fff;
}

/*--- Infographics ---*/

#infographicsId .oj-accordion-collapsible>.oj-collapsible-header {
    background: transparent;
    border: none;
}

#infographicsId .oj-accordion-collapsible>.oj-collapsible-wrapper>.oj-collapsible-content {
    border: none;
}

#infographicsId .oj-collapsible {
    border: 0;
    margin: 0;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

#infographicsId .oj-collapsible:first-child {
    z-index: 99;
    background: #4137a8;
}

#infographicsId .oj-collapsible:nth-child(2) {
    z-index: 88;
    background: #2daae0;
}

#infographicsId .oj-collapsible:nth-child(3) {
    z-index: 77;
    background: #22bd9d;
}
/*#infographicsId .oj-collapsible:nth-child(4) {
    z-index: 66;
    background: #22bd9d;
}*/

#infographicsId .oj-collapsible:last-child {
    background: #53cd3f;
}

/*--- About GaStat ---*/

.about-list .oj-accordion-collapsible>.oj-collapsible-header {
    background: transparent;
    border: none;
}

.about-list .oj-accordion-collapsible>.oj-collapsible-wrapper>.oj-collapsible-content {
    border: none;
}

.about-list .oj-collapsible {
    border: 0;
    margin: 0;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.about-list .oj-collapsible:first-child {
    z-index: 99;
    background: #2a428c;
}

.about-list .oj-collapsible:nth-child(2) {
    z-index: 88;
    background: #3657b6;
}

.about-list .oj-collapsible:nth-child(3) {
    z-index: 77;
    background: #4c78d9;
}

.about-list .oj-collapsible:last-child {
    background: #639df1;
}

.contact-info {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 .contact-info li {
     margin-bottom: 10px;
     line-height: 24px;
 }
 .contact-info li strong{
     min-width: 120px;
     display: inline-block;
     margin-right: 10px;
     color: #7fcdfd;
 }
 html[dir='rtl'] .contact-info li strong{
     margin-left: 10px;
     margin-right: 0;
 }
 .contact-info li .oj-button .oj-button-text {
     padding: 0;
 }
  .contact-info li a{
    color:#dada73;
  }
  .contact-info li .adrs {
     padding-left: 134px;
     display: block;
 }
  html[dir='rtl'] .contact-info li .adrs {
     padding-right: 134px;
     padding-left: 0;
 }
.about-list .oj-collapsible h4 {
    color: #fff;
    padding: 25px 20px;
    border: 0;
    font-size: 1.2rem;
}

.about-list .oj-collapsible h4 i {
    font-size: 1.8rem;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

html[dir='rtl'] .about-list .oj-collapsible h4 i {
    margin-right: 0;
    margin-left: 10px;
}

.oj-select-select {
    background-color: rgba(255,255,255,0.5);
    height: 2.2rem;
    font-size: .9rem;
}
html:not([dir="rtl"]) .oj-select-select {
    padding-left: 5px;
}
html[dir="rtl"] .oj-select-select {
    padding-right: 5px;
}

.oj-collapsible-header .oj-collapsible-header-icon {
    float: right;
    color: #fff;
}

.about-list .oj-collapsible-content {
    padding: 0 20px 20px 40px!important;
    color: #eee;
}
html[dir="rtl"] .about-list .oj-collapsible-content {
    padding: 0 40px 20px 20px!important;
    color: #eee;
}
.about-list .oj-collapsible-content p {
    line-height: 20px;
    text-align: justify;
}
.about-list .oj-collapsible-header > .oj-collapsible-header-icon {
    position: absolute;
    right: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: .9rem;
}
.about-list .oj-collapsible-header > .oj-collapsible-header-icon:before {
    content: "\e605";
}
#contact p a {
    color: #4137a8;
    text-decoration: underline;
}

#masdar .page-img-box {
    margin-bottom: 10px;
    background: #fff;
    padding: .5em;
}


/*---- Edit Profile ----*/

.page-container {
    background: #fff;
    padding: 20px;
    display: flow-root;
}

.edit-profile .pic-upload {
    float: right;
}

html[dir='rtl'] .edit-profile .pic-upload {
    float: left;
}

.edit-profile .pro-pic {
    width: 120px;
    height: 120px;
    /*    border-radius: 50%;
    border: 2px solid #43b7aa;*/
    background-color: #fff;
    display: block;
    position: relative;
}

.edit-profile .upload-btn {
    display: block;
    background: #43b7aa;
}

.edit-profile .upload-btn .oj-button {
    height: auto;
    padding: .3rem 0;
    color: #fff;
    display: block;
    font-size: .8rem;
}

.edit-profile .upload-btn .oj-button-button {
    width: 100%;
}

.field-container {
    margin-top: 20px;
    clear: both;
}

.field-container .col-50:first-child {
    padding-right: 20px;
}

.edit-profile .oj-select {
    width: 100%;
}

.edit-profile .upload-btn .oj-button .icon-upload,
.edit-profile .upload-btn .oj-button-label,
.edit-profile .submit-btn .oj-button-label {
    color: #fff;
}

.submit-btn,
#button.submit-btn,
.oj-button-text-only.submit-btn {
    background: #0572ce !important;
    color: #fff !important;
    margin: 10px 0 0;
}

html:not([dir="rtl"]) .submit-btn,
html:not([dir="rtl"]) #button.submit-btn,
html:not([dir="rtl"]) .oj-button-text-only.submit-btn {
    float: right !important;
}


/*--- Dynamic Report ---*/

.control-bar {
    background: #ebeced;
    padding: .7rem;
    height: 40px;
}

.control-bar .ctrl-btns {
    float: right;
    color: #045fab;
    margin: 0 .7rem;
    font-size: 1.2rem;
    height: auto;
}
.control-bar #favBack{
        float: right;
        color:#0572ce
}
.control-bar a:hover{
    cursor: pointer;
}
.control-bar #favhdr{
        float: left;
}

html[dir="rtl"] .control-bar .ctrl-btns {
    float: left;
}
/*html[dir="rtl"] .control-bar a{
    float: left;
}*/
html[dir="rtl"] .control-bar span{
    float: right;
}


.control-bar .back-link {
    color: #045fab;
}

html[dir="rtl"] .control-bar .back-link i:before {
    content: "\f105";
}

#dynamicReport h2 {
    padding: .7rem;
    margin: 0;
    color: #fff;
    font-size: 1.3rem;
}

.component-wrapper {
    padding: 0 .8rem;
}

#dynamicReport .filter-wrapper {
    background: rgba(255, 255, 255, 0.5);
    padding: .5em;
    margin-bottom: 0.8em;
    display: flow-root;
}

#dynamicReport .filter-wrapper .oj-label {
    margin: 0.8em 0 0.5em;
}

#dynamicReport .filter-label {
    display: block;
    color: #000;
    font-size: 1rem;
}

#dynamicReport .filter-btn {
    background: #0572ce;
    color: #fff;
    font-size: .9rem;
    padding-bottom: 4px;
    float: right;
    margin: 5px 2px;
}

html[dir='rtl'] #dynamicReport .filter-btn {
    float: left;
}

.oj-button .oj-button-text {
    padding: 0 0.9rem;
}

#dynamicReport .chart-container {
    background: #fff;
}

#dynamicReport .chart-container svg text {
    font-size: .78rem;
}

html[dir='rtl'] #dynamicReport .chart-container svg text {
    /* text-anchor: inherit; */
}

html[dir='rtl'] #dynamicReport .chart-container svg text[dominant-baseline="text-before-edge"] {
    text-anchor: start;
}

html[dir='ltr'] #dynamicReport .chart-container svg text {
    text-anchor: end;
}

html[dir='ltr'] #dynamicReport .chart-container svg text[dominant-baseline="text-before-edge"] {
    text-anchor: unset;
}

html #dynamicReport .chart-container svg text[text-anchor="middle"] {
    text-anchor: middle !important;
}

html[dir='rtl'] #dynamicReport .chart-container svg text[text-anchor="end"] {
    text-anchor: start !important;
}

#dynamicReport .oj-toolbar {
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ebeced;
    margin-bottom: .8em;
    padding: .5rem;
}

#dynamicReport .table-container {
    background: rgba(255, 255, 255, .8);
    overflow: auto;
    font-size: .85rem;
    color: #0a0548;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.6;
}

html[dir='rtl'] #dynamicReport .table-container {
    text-align: right;
}

.oj-listbox-result-label,
#dynamicReport .oj-select-choice {
    font-size: .9rem;
}
.oj-listbox-drop {
    width: auto !important;
    left: 25px !important;
    right: 25px !important;
}
#dynamicReport .oj-table-data-cell {
    text-align: right !important;
    font-size: .8rem;
}

#dynamicReport .oj-table-column-header-cell {
    background: #48bdc3;
    color: #fff;
}

#dynamicReport .indicator-strip {
    margin: 5px 0;
} 
#dynamicReport .oj-filmstrip-container {
    outline: none;
}

.oj-table-column-header .oj-table-column-header-asc-icon:before, .oj-table-column-header .oj-table-column-header-dsc-icon:before {
    font-family: "Alta Icon Font";
    color: #fff;
}
/*----- Indicator List Slider -----*/

#indicator-slider {
    margin: 0;
}

#indicator-slider .oj-panel {
    border: none;
    border-radius: 0;
    padding: 0;
    background: none;
}

#indicator-slider .slider-detail-item {
    box-sizing: border-box;
    width: 100%;
    height: 170px;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

#indicator-slider .slider-detail-item .slide-img {
    width: 100%;
}

#indicator-slider .slider-detail-item .slider-txt {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

#masterFilmStripDiv .oj-filmstrip-item-container {
    background: #21baa6;
    margin-right: 1px;
}
#masterFilmStripDiv .oj-filmstrip-item-container a{
    display: contents;
}
#indicator-slider .slider-master-item {
    background: none;
    box-sizing: border-box;
    width: auto;
    height: 78px;
    text-align: center;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.6rem;
}

#indicator-slider .oj-filmstrip-item.oj-selected {
    width: 100%;
    background: #fff;
    color: #21baa6;
    display: block;
}

#indicator-slider .oj-filmstrip-item.oj-selected .slider-master-item {
    color: #21baa6;
}

.oj-filmstrip-arrow.oj-default .oj-filmstrip-arrow-icon {
    color: #fff;
}


#biDashboard .icon.ft:before,#biDashboard .icon.pi:before,
#biDashboard .icon.mp:before, #biDashboard .icon.gdp:before,
#biDashboard .icon.ii:before, #biDashboard .icon.gf:before,
#biDashboard .icon.bi:before{
    display: inline-block;
    font-family: 'masdar';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\0048';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#indicator-slider .slider-master-item .icon {
    display: block;
    font-size: 2rem;
    width: 34px;
    height: 34px;
    margin: 0 auto 5px;
}
#indicator-slider .oj-selected .slider-master-item .icon.ft {
    background:  url(images/slider-icons/trade.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.ft{   
    background:  url(images/slider-icons/trade.png) 0 -34px no-repeat;
}
#indicator-slider .oj-selected .slider-master-item .icon.pi {
    background:  url(images/slider-icons/price.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.pi {   
    background:  url(images/slider-icons/price.png) 0 -34px no-repeat;
}
#indicator-slider .oj-selected .slider-master-item .icon.mp {   
    background:  url(images/slider-icons/mpolicy.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.mp {   
    background:  url(images/slider-icons/mpolicy.png) 0 -34px no-repeat;
}
#indicator-slider .oj-selected .slider-master-item .icon.gdp {   
    background:  url(images/slider-icons/gdp.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.gdp {   
    background:  url(images/slider-icons/gdp.png) 0 -34px no-repeat;
}
#indicator-slider .oj-selected .slider-master-item .icon.ii {   
    background:  url(images/slider-icons/invest.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.ii {   
    background:  url(images/slider-icons/invest.png) 0 -34px no-repeat;
}
#indicator-slider .oj-selected .slider-master-item .icon.gf {   
    background:  url(images/slider-icons/govt.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.gf {   
    background:  url(images/slider-icons/govt.png) 0 -34px no-repeat;
}
#indicator-slider .oj-selected .slider-master-item .icon.bi {   
    background:  url(images/slider-icons/business.png) 0 0 no-repeat;
}
#indicator-slider .slider-master-item .icon.bi {   
    background:  url(images/slider-icons/business.png) 0 -34px no-repeat;
}
/*.oj-filmstrip-arrow-container {
    position: absolute;
    z-index: 99;
}
.oj-filmstrip-arrow-container.oj-end {
    left: 0;
}*/
#masdar-filmstrip .oj-filmstrip-arrow {
    width: 1.8rem;
}
#indicator-slider .slider-master-item {}

#masterFilmStripDiv {
    background: #4d358c;
    margin-bottom: 1px;
}

#listFilmStripDiv {
    background: rgba(255, 255, 255, .9);
}

.indicator-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.indicator-list li {
    border-bottom: 1px dashed #8986ca;
}

.indicator-list li a {
    padding: 12px 20px;
    display: block;
    color: #4d358c
}

.indicator-list li a .fa {
    float: right;
    line-height: 20px
}

html[dir="rtl"] .indicator-list li a .fa {
    float: left;
}

html[dir="rtl"] .fa-angle-double-right:before {
    content: "\f100";
}

.indicator-list li a:hover {
    background: #4d358c;
    color: #fff;
}


/*--- Population ----*/

#population #indicator-slider .slider-detail-item .slider-txt {
    bottom: 10px;
    font-size: 1.5rem;
    padding: 0 5px;
}
.pop-banner {
    /*padding-top: 1rem 0;*/
    text-align: center;
    /*background: #40dac6;*/
    position: relative;
}

.pop-banner img {
    width: 100%;
}

.pop-banner .pop-icon {
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1;
}

.pop-banner .title-bar {
    width: 100%;
    background: rgba(64, 218, 198, 0.8);
    position: absolute;
    z-index: 99;
    bottom: 10px;
}

.pop-banner h2,
.pop-banner h3 {
    color: #fff;
}

.pop-banner h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

#population .chart-container {
    padding: 10px;
    background: #fff;
}
/*--- News ---*/

.news-container {
    /*background: #fff;*/
    margin: .8rem;
    /*padding: .8rem;*/
}

.news-container .oj-collapsible {
    background: #fff;
    margin-bottom: 0.8em;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.news-container .oj-collapsible-header {
    padding: 0 10px 0 0;
    color: #02629f;
    border: none;
}
html[dir="rtl"] .news-container .oj-collapsible-header {
    padding: 0 0 0 10px;
}
.news-container .oj-collapsible-header a {
    position: absolute;
    right: -12px;
    font-size: 14px;
}
.news-container .oj-collapsible-header a:before {
    content: "\e605";
    color: #cbcccd;
}
html[dir="rtl"] .news-container .oj-collapsible-header a {
    left: -12px;
    right: auto;
}
.news-list .news-title {
    /*margin-left: 10px;*/
    font-size: .95rem;
}
.news-list h2:before {
    width: 44px;
    height: 44px;
    min-width: 44px;
    content: '';
    background: url('../img/masdar-icon.png') 0 0 no-repeat;
    background-size: 44px 44px;
    margin-right: 10px;
}
html[dir="rtl"] .news-list h2:before{
    margin-right: 0;
    margin-left: 10px;
}
html[dir="rtl"] .news-list .news-title {
    margin-left: 0;
    /*margin-right: 10px;*/
}
.news-list .oj-accordion-collapsible>.oj-collapsible-header {
    font-size: 1em;
    background: none;
}

.news-list h4 .news-hd {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-list .oj-expanded h4 .news-hd {
    overflow: visible;
    text-overflow: unset;
    display: block;
}

/*.news-list .oj-accordion-collapsible>.oj-collapsible-wrapper>.oj-collapsible-content {
    border: none;
}*/

.news-container h4.oj-collapsible-header .oj-collapsible-header-icon {
    display: none;
}

.news-container h4.oj-collapsible-header .news-img {
    width: 50px;
    height: 50px;
    float: left;
    background: #fff;
    margin-right: 10px;
    border-radius: 3px;
    text-align: center;
    padding-top: 4px;
}

html[dir='rtl'] .news-container h4.oj-collapsible-header .news-img {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.news-container h4.oj-collapsible-header .news-img img {
    width: 80%;
}

.oj-collapsible-header a:before {
    font-family: "Alta Icon Font" !important;
}

.news-container .oj-collapsible-content {
    padding-top: 10px !important;
    margin-top: 10px;
    text-align: justify;
    border-top: 1px solid #e4e4e4;
}
.news-container .oj-collapsible-content h1 {
    color: #1dd1ab;
}
.news-container .oj-collapsible-content p { 
    margin: 0;
}
h4.oj-collapsible-header {
    font-size: 1rem;
    color: #45429a;
}

.oj-collapsible-content {
    font-size: .9rem;
    color: #666;
}


/*--- Infographics ---*/

.infograph-page .demo-overlaid-paging-control {
    bottom: 50px;
}
.infograph-page .demo-overlaid-paging-control .oj-pagingcontrol-nav-dot-bullet {
    height: 10px;
    width: 10px;
    background-color: #36b3c7;
    border-color: #ffffff;
}
.infograph-page .demo-overlaid-paging-control .oj-pagingcontrol-nav-dot-bullet.oj-selected {
    border-color: #36b3c7;
}
.infograph-page .oj-panel-alt2 {
    background: none;
    border: 0;
    flex-shrink:inherit;
}

/*--- Library ---*/

.list-container {
    margin: .8rem;
    /*    padding: .8rem;
    background: #fff;*/
}

#stat-library .oj-collapsible {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 0.8em;
}

#stat-library h4.oj-collapsible-header {
    font-size: 1.2rem;
    color: #fff;
    background: #24be99;
    padding: 20px;
    border: none;
}

#stat-library h4.oj-collapsible-header a {
    color: #fff;
    padding-top: 2px;
}

html[dir='rtl'] #stat-library h4.oj-collapsible-header a {
    float: left;
}

#stat-library .oj-collapsible-content {
    list-style: none;
    padding: 0;
}

#stat-library .oj-collapsible-content li {
    border-bottom: 1px solid #eee;
}

#stat-library .oj-collapsible-content li a {
    padding: 1em 1.5em;
    display: block;
    font-size: 1rem;
}

#stat-library .oj-collapsible-content li:last-child {
    border-bottom: 0;
}


/*--- Build Your Report ---*/

.oj-train-stretch .oj-train-wrapper {
    margin: 20px 0;
}

.train-container {
    margin: .8rem 0;
    padding: 1rem;
    display: flow-root;
}
#buildReport .oj-tabbar-element .oj-tabbar-item-element {
    background: #ecedef;
}
.oj-tabbar-element .oj-tabbar-divider{
    display: block;
    border-color: transparent;
}
#buildReport .oj-tabbar-element .oj-tabbar-item-element.oj-selected {
    background: #fff;
}
#buildReport .oj-tabbar-element .oj-tabbar-item-content {
    justify-content:inherit;
    padding: 2px 0.625rem;
}
#buildReport .oj-tabbar-element .oj-tabbar-item-content .oj-tabbar-item-icon{
    margin-right: 10px;
}
html[dir="rtl"] #buildReport .oj-tabbar-element .oj-tabbar-item-content .oj-tabbar-item-icon{
    margin-left: 10px;
}
#componentfavContent  {
    margin: 10px;
}
#componentfavContent #tablsse {
    margin: 0;
}
#buildReport .oj-table-header th {
    background: #1bcae0 !important;
    color: #fff;
}
/*.train-container .filter-area h3{
    font-size: 1.1em;
}*/

.train-container .control-bar {
    background: rgba(237, 238, 240, 0.7);
}

oj-train:not(.oj-complete) {
    visibility: hidden
}

oj-train {
    display: block;
}

.oj-train {
    white-space: nowrap;
    text-align: center;
}

.oj-train-wrapper {
    font-size: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.oj-train-connector-wrapper {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px
}

.oj-train-connector,
.oj-train-connector-fill {
    position: relative;
    height: 8px;
    width: 100%;
    top: 7px;
    box-sizing: border-box
}

.oj-train-connector {
    background-color: #f0f0f0
}

.oj-train-connector-fill {
    background-color: #d6d7d8;
    margin-top: -8px
}

.oj-train-button-connector {
    background: #f0f0f0;
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box
}

.oj-train-button-connector.oj-train-fill {
    background-color: #d6d7d8;
    background-image: none;
    top: 0
}

.oj-train-button {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    width: 14px;
    height: 14px;
    margin: 4px;
}

.oj-train-button.oj-default {
    border-color: #c4ced7;
    background-color: #e4e8ea
}

.oj-train-button.oj-visited {
    border-color: #0572ce;
    background-color: #fff
}

.oj-train-button.oj-hover,
.oj-train-button.oj-active,
.oj-train-button.oj-hover.oj-active {
    border-color: #85bbe7;
    background-color: #85bbe7
}

.oj-train-button.oj-selected {
    border-color: #0572ce;
    background-color: #0572ce;
    cursor: default
}

.oj-train-button.oj-disabled {
    border-color: #e0e6eb;
    background-color: #f4f6f7;
    cursor: default
}

.oj-train-button.oj-active,
.oj-active.oj-train-button,
.oj-active.oj-train-button.oj-hover {
    background-color: #85bbe7;
    border-color: #85bbe7
}

.oj-train-button-text {
    display: none
}

.oj-train-button.oj-active .oj-train-button-text,
.oj-active.oj-train-button .oj-train-button-text,
.oj-active.oj-train-button.oj-hover .oj-train-button-text,
.oj-visited.oj-active.oj-train-button .oj-train-button-text,
.oj-visited.oj-active.oj-train-button.oj-hover .oj-train-button-text {
    color: #fff
}

.oj-train-button.oj-disabled .oj-train-button-text {
    color: #fff
}

.oj-train-button.oj-hover .oj-train-button-text,
.oj-train-button.oj-active .oj-train-button-text,
.oj-train-button.oj-visited.oj-hover .oj-train-button-text,
.oj-visited.oj-train-button.oj-active .oj-train-button-text {
    color: #fff
}

.oj-train-button.oj-visited .oj-train-button-text {
    color: #fff
}

.oj-train-button.oj-selected .oj-train-button-text {
    color: #fff
}

.oj-train-step-list {
    margin: 0;
    padding: 0
}

.oj-train-step-list-item {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    display: inline-block;
    white-space: normal;
    vertical-align: top
}

.oj-train-label-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 1px
}

.oj-train-label {
    text-decoration: none;
    color: #045fab;
    text-align: center;
    font-size: 0.9em;
}

.oj-train-label.oj-visited {
    color: #72007C
}

.oj-train-label.oj-disabled {
    text-decoration: none;
    font-weight: normal;
    color: #9e9e9e
}

.oj-train-label.oj-active,
.oj-train-label.oj-hover.oj-active {
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer
}

.oj-train-label.oj-hover {
    cursor: pointer
}

.oj-train-label.oj-selected {
    text-decoration: none;
    cursor: default;
    font-weight: normal
}

.oj-train-icon,
.oj-train-icon.oj-confirmation,
.oj-train-icon.oj-error,
.oj-train-icon.oj-info,
.oj-train-icon.oj-warning {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid
}

html:not([dir="rtl"]) .oj-train-icon {
    right: 0
}

html[dir="rtl"] .oj-train-icon {
    left: 0
}

.oj-confirmation.oj-train-icon {
    background-color: #e4e8ea;
    border-color: #c4ced7
}

.oj-train-button.oj-disabled .oj-train-icon {
    background-color: #f4f6f7;
    border-color: #e0e6eb
}

.oj-train-button.oj-hover .oj-train-icon,
.oj-train-button.oj-active .oj-train-icon,
.oj-train-button.oj-visited.oj-hover .oj-train-icon,
.oj-visited.oj-train-button.oj-active .oj-train-icon,
.oj-train-button.oj-visited.oj-hover .oj-confirmation.oj-train-icon,
.oj-visited.oj-train-button.oj-active .oj-confirmation.oj-train-icon,
.oj-train-button.oj-visited.oj-hover .oj-error.oj-train-icon,
.oj-visited.oj-train-button.oj-active .oj-error.oj-train-icon,
.oj-train-button.oj-visited.oj-hover .oj-info.oj-train-icon,
.oj-visited.oj-train-button.oj-active .oj-info.oj-train-icon,
.oj-train-button.oj-visited.oj-hover .oj-warning.oj-train-icon,
.oj-visited.oj-train-button.oj-active .oj-warning.oj-train-icon {
    background-color: #85bbe7;
    border-color: #85bbe7
}

.oj-train-button.oj-visited .oj-confirmation.oj-train-icon,
.oj-train-button.oj-selected .oj-confirmation.oj-train-icon {
    background-color: #fff;
    border-color: #0572ce
}

.oj-train-button.oj-active .oj-confirmation.oj-train-icon,
.oj-train-button.oj-hover.oj-active .oj-train-icon.oj-confirmation,
.oj-train-button.oj-hover.oj-visited.oj-active .oj-train-icon.oj-confirmation {
    background-color: #e4e8ea;
    color: #85bbe7;
    border-color: #85bbe7
}

.oj-train-button.oj-visited .oj-error.oj-train-icon,
.oj-train-button.oj-selected .oj-error.oj-train-icon {
    background-color: #e31e26;
    border-color: #e31e26
}

.oj-train-button.oj-active .oj-error.oj-train-icon,
.oj-train-button.oj-hover.oj-active .oj-train-icon.oj-error,
.oj-train-button.oj-hover.oj-visited.oj-active .oj-train-icon.oj-error {
    background-color: #ffdfdf;
    color: #e31e26;
    border-color: #e31e26
}

.oj-info.oj-train-icon {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif
}

.oj-train-button.oj-visited .oj-info.oj-train-icon,
.oj-train-button.oj-selected .oj-info.oj-train-icon {
    background-color: #0572ce;
    border-color: #0572ce
}

.oj-train-button.oj-active .oj-info.oj-train-icon,
.oj-train-button.oj-hover.oj-active .oj-train-icon.oj-info,
.oj-train-button.oj-hover.oj-visited.oj-active .oj-train-icon.oj-info {
    background-color: #e4e8ea;
    color: #0572ce;
    border-color: #0572ce
}

.oj-warning.oj-train-icon {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif
}

.oj-train-button.oj-visited .oj-warning.oj-train-icon,
.oj-train-button.oj-selected .oj-warning.oj-train-icon {
    background-color: #f6c018;
    border-color: #f6c018
}

.oj-train-button.oj-active .oj-warning.oj-train-icon,
.oj-train-button.oj-hover.oj-active .oj-train-icon.oj-warning,
.oj-train-button.oj-hover.oj-visited.oj-active .oj-train-icon.oj-warning {
    background-color: #fff2de;
    color: #f6c018;
    border-color: #f6c018
}

.oj-train-icon.oj-hover {
    cursor: pointer
}

.oj-hicontrast .oj-train-button.oj-selected {
    border-width: 7px
}

.oj-hicontrast .oj-train-button.oj-disabled {
    border-style: dotted
}

.oj-hicontrast .oj-train-button.oj-visited {
    border-width: 2px
}

.oj-hicontrast .oj-train-connector {
    border: 1px solid
}

.oj-hicontrast .oj-train-connector-fill {
    border: 4px solid
}

.oj-train-icon,
.oj-train-icon.oj-confirmation,
.oj-train-icon.oj-error,
.oj-train-icon.oj-info,
.oj-train-icon.oj-warning {
    bottom: 4px;
    border-style: none
}

html:not([dir="rtl"]) .oj-train-icon {
    right: 4px
}

html[dir="rtl"] .oj-train-icon {
    left: 4px
}

.oj-train-icon:before,
.oj-train-icon.oj-confirmation:before,
.oj-train-icon.oj-error:before,
.oj-train-icon.oj-info:before,
.oj-train-icon.oj-warning:before {
    content: none
}

.oj-train-icon,
.oj-train-icon.oj-confirmation,
.oj-train-icon.oj-error,
.oj-train-icon.oj-info,
.oj-train-icon.oj-warning,
.oj-confirmation.oj-train-icon,
.oj-error.oj-train-icon,
.oj-info.oj-train-icon,
.oj-warning.oj-train-icon,
.oj-train-button.oj-disabled .oj-train-icon,
.oj-train-button.oj-hover .oj-train-icon,
.oj-train-button.oj-active .oj-train-icon,
.oj-train-button.oj-active .oj-confirmation.oj-train-icon,
.oj-train-button.oj-active .oj-error.oj-train-icon,
.oj-train-button.oj-active .oj-info.oj-train-icon,
.oj-train-button.oj-active .oj-warning.oj-train-icon .oj-train-button.oj-selected .oj-confirmation.oj-train-icon,
.oj-train-button.oj-selected .oj-error.oj-train-icon,
.oj-train-button.oj-selected .oj-info.oj-train-icon,
.oj-train-button.oj-selected .oj-warning.oj-train-icon,
.oj-train-button.oj-visited .oj-confirmation.oj-train-icon,
.oj-train-button.oj-visited .oj-error.oj-train-icon,
.oj-train-button.oj-visited .oj-info.oj-train-icon,
.oj-train-button.oj-visited .oj-warning.oj-train-icon {
    background-color: transparent;
    border-color: transparent
}

oj-button:not(.oj-complete) {
    visibility: hidden
}

.oj-train-step-individual-connector {
    height: 0;
}


/*======= Footer =====*/

.oj-web-applayout-footer {
/*    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
    background: #fff;
    padding: 5px 0;
    border: none;
    min-height: 3rem;
}

.oj-web-applayout-header>div,
.oj-web-applayout-footer>div {
    padding-left: 10px;
    padding-right: 10px;
}

html:not([dir="rtl"]) .oj-web-applayout-footer li,
html[dir="rtl"] .oj-web-applayout-footer li {
    border: none;
    padding: 0;
    display: inline-block;
    margin: 0 2px;
}

.social-links {
    list-style: none;
    line-height: 38px;
}

.social-links li a {
    display: block;
    height: 26px;
    width: 26px;
    border-radius: 5px;
    color: #fff;
    background: #21baa6;
    line-height: 26px;
    text-align: center;
}

.social-links li a:hover {
    background: #4d358c;
}
.social-links li a:before {
    vertical-align: middle;
}

/*Media Query*/

@media only screen and (max-width: 400px) and (min-width: 361px) {
    .oj-listview-card-layout li.oj-listview-item {
        width: 114px;
    }
}


/*Media Query*/

@media only screen and (max-width: 360px) and (min-width: 321px) {
    .oj-listview-card-layout li.oj-listview-item {
        width: 108px;
    }
    .list-icon li .icon {
        width: 80px;
        height: 80px;
    }
}


/*Media Query*/

@media only screen and (max-width: 414px) and (min-width: 376px) {
    /*    .oj-select {
        max-width: 19.6em;
    }*/
    .train-container .oj-select {
        max-width: 100%;
    }
    .oj-button .oj-button-text {
        padding: 0 1rem;
    }
}


/*iphone5 or less*/

@media screen and (max-width: 320px) {
    .oj-listview-card-layout li.oj-listview-item {
        width: 144px;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.ratings-container {
    background: rgba(255, 255, 255, .8);
}

/*--- Rating ----*/
.rating-wrapper label {
    min-width: 110px;
    font-size: .9rem;
    display: inline-block;
}
.rating-wrapper .rate-status {
    text-align: center;
}
.rate-label {
    font-size: .8rem;
    color: #027bc7;
}
.feed-container .btns-wrapper .back-btn {
    float: right;
    background: #05ceaa;
    color: #fff;
    margin: 10px 10px 0 0;
}


.loadFavouriteButton {
    background: #0572ce !important;
    margin: 10px 0 0;
    max-width: 60px;
}
.oj-table-header{
     background: #e2e2e5 !important;
}

.oj-button.oj-default.oj-button-half-chrome .oj-button-button {
    color: #fff;
}
.oj-button-icon-only .oj-button-icon {
    margin-right: 0;
}


 .filter-strip {
	-moz-box-shadow: 0px 10px 14px -7px #276873 !important;;
	-webkit-box-shadow: 0px 10px 14px -7px #276873 !important;;
	box-shadow: 0px 10px 14px -7px #276873 !important;;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #98d8f0), color-stop(1, #408c99)) !important;;
	background:-moz-linear-gradient(top, #98d8f0 5%, #408c99 100%) !important;;
	background:-webkit-linear-gradient(top, #98d8f0 5%, #408c99 100%) !important;;
	background:-o-linear-gradient(top, #98d8f0 5%, #408c99 100%) !important;;
	background:-ms-linear-gradient(top, #98d8f0 5%, #408c99 100%) !important;;
	background:linear-gradient(to bottom, #98d8f0 5%, #408c99 100%) !important;;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#98d8f0', endColorstr='#408c99',GradientType=0);
	background-color:#98d8f0 !important;;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block; margin: 0px 5px;
	cursor:pointer;

	font-family:Arial;
/*        color:#ffffff;
	font-size:20px;
	font-weight:bold;*/

	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}


 .filter-strip :hover {
/*	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #98d8f0)) !important;
	background:-moz-linear-gradient(top, #408c99 5%, #98d8f0 100%) !important;;
	background:-webkit-linear-gradient(top, #408c99 5%, #98d8f0 100%) !important;;
	background:-o-linear-gradient(top, #408c99 5%, #98d8f0 100%) !important;;
	background:-ms-linear-gradient(top, #408c99 5%, #98d8f0 100%) !important;;
	background:linear-gradient(to bottom, #408c99 5%, #98d8f0 100%) !important;;*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#98d8f0',GradientType=0);
/*	background-color:#408c99 !important;;*/
        color:#ffffff;
/*	font-size:20px;
	font-weight:bold;*/
}
 .filter-strip :active {
	position:relative;
	top:1px; 
}

.oj-selected .filter-strip {
background-color: #d1d5e4;
        color:#ffffff;
	font-size:20px;
	font-weight:bold;
}


/*---- Statistical Map ----*/

#statMap.component-wrapper{
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
}
#mapContainer {
    text-align: center;
    padding-top: 10px;
}
#mapContainer .oj-select {
    width: calc(100% - 30px);
}
#mapContainer .region-title {
    padding: 0;
    text-align: center;
}
#mapContainer .region-title h3{
    width: 100%;
    color: #460a7b;
    margin: 0;
    padding-bottom: 10px;
}
.map-btn {
    background-color: #1dd1ab;
    margin:0px 3px;
    border-radius: 3px;
}

.oj-selected .map-btn{
    background-color: #027bc7; 
    cursor:pointer;
}
.map-info {
/*    background: #fff;*/
    text-align: center;
}
.map-info .oj-buttonset-multi {
    width: 70% !important;
    margin: 0 auto;
}
.map-info .oj-button-jqui.oj-default.oj-button-full-chrome {
    background: none;
    border: 0;
    box-shadow: none;
}
.map-info .oj-button-jqui.oj-selected.oj-button-full-chrome {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
}
.map-info .oj-table {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}
.map-info .oj-table-column-header-cell {
    padding: 5px 10px !important;
}
.map-info .oj-select {
    margin: 0;
}
.map-info .oj-select-select {
    border: 0;
    border-radius: 3px;
}


