<!DOCTYPE html>
<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->

<!-- ************************ IMPORTANT INFORMATION ************************************
  This web navigation drawer template is provided as an example of how to configure
  a JET web application with a navigation drawer as a single page application
  using ojRouter and ojModule.  It contains the Oracle JET framework and a default
  requireJS configuration file to show how JET can be setup in a common application.
  This project template can be used in conjunction with demo code from the JET
  website to test JET component behavior and interactions.

  Any CSS styling with the prefix "demo-" is for demonstration only and is not
  provided as part of the JET framework.

  Please see the demos under Cookbook/Patterns/App Shell: Web and the CSS documentation
  under Support/API Docs/Non-Component Styling on the JET website for more information on how to use 
  the best practice patterns shown in this template.

  Aria Landmark role attributes are added to the different sections of the application
  for accessibility compliance. If you change the type of content for a specific
  section from what is defined, you should also change the role value for that
  section to represent the appropriate content type.
  ***************************** IMPORTANT INFORMATION ************************************ -->
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Oracle JET Starter Template - Web Nav Drawer</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon"/>

    <!-- This is the main css file for the default Alta theme -->
<!-- injector:theme -->
<link rel="stylesheet" href="css/alta/5.0.0/android/alta.css" id="css" />
<!-- endinjector -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" type="text/css"/>
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css"/>

    <!-- This is where you would add any app specific styling -->
    <link rel="stylesheet" href="css/fif/android/fif.css" id="css2"/>
    <link rel="stylesheet" href="css/app.css" type="text/css"/>
    <link rel="stylesheet" href="css/Masdar-icon-font.css" type="text/css"/>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" type="text/css" /> -->




</head>

<body class="oj-web-applayout-body">
    <!-- Template for rendering navigation items shared between nav bar and nav list -->
    <script type="text/html" id="navTemplate">
        <li>
            <a href="#">
                <span data-bind="css: $data['iconClass']"></span>
                <!-- ko text: $data['name'] -->
                <!--/ko-->
            </a>
        </li>
    </script>

    <div id="globalBody" class="oj-offcanvas-outer-wrapper oj-offcanvas-page">
        <!--
           ** Oracle JET V4.0.0 web application navigation drawer pattern.
           ** Please see the demos under Cookbook/Patterns/App Shell: Web
           ** and the CSS documentation under Support/API Docs/Non-Component Styling
           ** on the JET website for more information on how to use this pattern. 
           ** The off-canvas section is used when the browser is resized to a smaller media
           ** query size for a phone format and hidden until a user clicks on
           ** the header hamburger icon.
        -->


        <!--        <div id="navDrawer" role="navigation" class="oj-contrast-marker oj-web-applayout-offcanvas oj-offcanvas-start">
        
                     User Profile 
                    <div class="navdrawer-profile-section">
                        <div class="profile-photo-container">
                            <img alt="profile image" src="css/images/ahmed.jpg" class="profile-photo">
                        </div>
                        <h2 class="profile-name">Ahmed Al Ashqar</h2>
                    </div>
                    <oj-navigation-list data="[[navDataSource]]"
                                        edge="start"
                                        item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                                        on-click="[[toggleDrawer]]"
                                        selection="{{router.stateId}}">              
                    </oj-navigation-list>
                    <oj-navigation-list id='signOut' class='oj-navigationlist-stack-icon-label'>             
                        <ul>
                            <li id="signOut" class="signOut-menu">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-signout-icon-24"></span>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </oj-navigation-list>
                    <footer class="oj-sm-margin-2x demo-flex-zero">
                        <div class="gaStat-icon"></div>
                    </footer>
                </div>-->


        <div id="navDrawer" role="navigation" class="demo-navdrawer oj-hybrid-applayout-offcanvas oj-offcanvas-start oj-contrast-marker oj-offcanvas-overlay-shadow">
            <!-- User Profile -->
            <div class="demo-navdrawer-content-wrapper oj-flex oj-sm-flex-direction-column oj-sm-flex-wrap-nowrap">
                <div class="demo-navdrawer-content">
                    <div style="display:none" class="demo-navdrawer-profile-section">
                        <!--  data-bind="with: userProfileModel"-->
                        <!-- <div class="profile-photo-container"> -->
                        <div class="demo-profile-photo-container">
                            <img id="profile-photo" class="demo-profile-photo" alt="user profile photo" data-bind="attr: {src: profilePic}"/>
                        </div>
                        <!-- </div> -->

                        <h2 class="demo-profile-name" data-bind="text: firstName() + ' ' + lastName()"></h2>
                        <p>
                            <!--ko text: email -->
                            <!-- /ko -->
                        </p>
                    </div>
                    <div class="demo-navdrawer-profile-section">
                        <img src="img/futuristic-screen.jpg" alt=""/>
                    </div>
                    <!-- Navigation -->
                    <oj-navigation-list id="appNavList" class="oj-navigationlist-stack-icon-label" on-click="[[toggleDrawer]]" selection="{{router.stateId}}">
                        <!--on-selection-changed='[[drawerChange]]'-->
                        <ul>
                            <li>
                                <a data-bind="click: function() {homeRouting()}">
                                    <span class="oj-navigationlist-item-icon icon-home"></span>
                                    <!--ko text: model.dashboard -->
                                    <!-- /ko -->

                                </a>
                            </li>
                            <!--                            <li id="biDashboard">
                                                            <a href="#">
                                                                <span class="oj-navigationlist-item-icon icon-dashboard"></span>
                                                                ko text: model.biDashboard  /ko 
                                                            </a>
                                                        </li>-->
                            <li id="about">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon icon-gastat-logo"></span>
                                    <!--ko text: model.gastat -->
                                    <!-- /ko -->
                                </a>
                            </li>
                            <li style="display:none" id="editProfile">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon icon-user"></span>
                                    <!--ko text: model.editProfile -->
                                    <!-- /ko -->
                                </a>
                            </li>
                            <li id="settings">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon icon-settings"></span>
                                    <!--ko text: model.settings -->
                                    <!-- /ko -->
                                </a>
                            </li>
                            <!--                             <li id="indicator-pro">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon icon-settings"></span>
                                    Indicator Pro
                                </a>
                            </li>-->
                            <li id="rating" style=" overflow: visible">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon icon-star"></span>
                                    <!--ko text: model.rating -->
                                    <!-- /ko -->
                                </a>
                            </li>

                            <li id="tour" style=" ">
                                <a href="#">
                                    <span class="oj-navigationlist-item-icon icon-exit"></span>
                                    <!--ko text: model.guide -->
                                    <!-- /ko -->
                               
                                </a>
                            </li>
                        </ul>
                    </oj-navigation-list>
                </div>

                <!-- Footer -->
                <footer class="oj-sm-margin-2x demo-flex-zero">
                    <!--<div class="masdar-footer-logo"></div>-->
                </footer>
            </div>

        </div>




        <div id="pageContent" class="oj-web-applayout-page">
            <!--
               ** Oracle JET V4.0.0 web application header pattern.
               ** Please see the demos under Cookbook/Patterns/App Shell: Web
               ** and the CSS documentation under Support/API Docs/Non-Component Styling
               ** on the JET website for more information on how to use this pattern.
            -->
            <!--ko if: (router.currentState().id !== 'tour') -->
            <header role="banner" class="oj-flex-bar oj-hybrid-applayout-header oj-sm-align-items-center">
                <div class="oj-flex-bar-start">
                    <oj-button id="drawerToggleButton" on-click="[[toggleDrawer]]" chroming="half" display="icons">
                        <span slot="startIcon" class="icon-nav"></span>
                        <span>Navigation Drawer</span>
                    </oj-button>
                </div>
                <div role="heading" class="oj-hybrid-applayout-bar-title">
                    <h1 class="oj-hybrid-applayout-header-title">
                        <!--ko text: text()[router.stateId()] -->
                        <!-- /ko -->

                    </h1>
                </div>
                <div id="toggleButton" class="oj-flex-bar-end">
                    <div class="lang-label" style="font-family: 'Neo Sans Arabic';">
                        <!--ko text: text().langSwitch -->
                        <!-- /ko -->
                    </div>
                    <input id="switch" data-bind="ojComponent: {component: 'ojSwitch',
                                   value: model.lang,
                                   label: 'Langauge',
                               optionChange: function() {langChange()}}"/>
                    <!--                    <oj-switch id="switch" value="{{model.lang}}" 
                                                   optionChange="{{langChange}}"></oj-switch>-->
                </div>
            </header>
            <!-- /ko -->
            <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content" data-bind="ojModule: router.moduleConfig">
            </div>
            <!--common footer-->
            <!--ko if: (router.currentState().id !== 'tour') -->
            <footer class="oj-web-applayout-footer oj-flex" role="contentinfo">
                <div class="oj-flex-bar-start">
                    <ul class="social-links">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-youtube"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-instagram"></a>
                        </li>
                    </ul>
                </div>
                <div class="oj-flex-bar-end">
                    <img src="css/images/masdar-logo.svg" height="38" alt="masdar logo"/>
                </div>
            </footer>
            <!-- /ko -->
        </div>
    </div>
    

<!--    <script type="text/javascript" src="cordova.js"></script>-->
    <!--<script type="text/javascript" src="cordova.js"></script>-->
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/canvg.js"></script>
    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
 
    
<!--  <script type="text/javascript"  >

document.addEventListener("deviceready", onDeviceReady, false);

function onDeviceReady() {
    alert('Device info');
    alert(device.uuid);
}

</script>-->
    <canvas id="can1" style="display:none" height="0"></canvas>
    <canvas id="can2" style="display:none" height="0"></canvas>
    <canvas id="can3" style="display:none" height="0"></canvas>
    <canvas id="can4" style="display:none" height="0"></canvas>
</body>

</html>