/* This is to prevent the flash of unstyled content before the composite properties have been setup. */
demo-chart-stack-control:not(.oj-complete) {
  visibility: hidden;
}

.demo-csc-bar-stack,
.demo-csc-bar-unstack,
.demo-csc-area-stack,
.demo-csc-area-unstack {
  height: 24px;
  width: 24px;
}

.demo-csc-bar-stack:before,
.demo-csc-bar-unstack:before,
.demo-csc-area-stack:before,
.demo-csc-area-unstack:before {
  display: inline;
}

.demo-csc-bar-stack:before {
  content: url("./resources/bar_stack_ena.svg");
}
.oj-hover .demo-csc-bar-stack:before {
  content: url("./resources/bar_stack_ovr.svg");
}
.oj-selected .demo-csc-bar-stack {
  content: url("./resources/bar_stack_dwn.svg");
}

.demo-csc-bar-unstack:before {
  content: url("./resources/bar_unstack_ena.svg");
}
.oj-hover .demo-csc-bar-unstack:before {
  content: url("./resources/bar_unstack_ovr.svg");
}
.oj-selected .demo-csc-bar-unstack:before {
  content: url("./resources/bar_unstack_dwn.svg");
}

.demo-csc-area-stack:before {
  content: url("./resources/area_stack_ena.svg");
}
.oj-hover .demo-csc-area-stack:before {
  content: url("./resources/area_stack_ovr.svg");
}
.oj-selected .demo-csc-area-stack {
  content: url("./resources/area_stack_dwn.svg");
}

.demo-csc-area-unstack:before {
  content: url("./resources/area_vert_ena.svg");
}
.oj-hover .demo-csc-area-unstack:before {
  content: url("./resources/area_vert_ovr.svg");
}
.oj-selected .demo-csc-area-unstack:before {
  content: url("./resources/area_vert_dwn.svg");
}
